:root{
  --banner-h: 50px;
  --egfont-size: 70px;
}

html[data-theme="dark"]{
  --code3:#48a64d;
  --code4:#b677b1;
  --code5:#a66e48;
  --code6:#77b6b6;
  --code7:#a64848;
  --code8:#527ac4;
  --code9:#e09524;
  --code10:#ec657c;
}
html[data-theme="light"]{
  --code3:#48a64d;
  --code4:#b677b1;
  --code5:#a66e48;
  --code6:#77b6b6;
  --code7:#a64848;
  --code8:#527ac4;
  --code9:#e09524;
  --code10:#ec657c;
}

.noise{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url("../VI/noise.png") 0 0/100px 100px,url("../VI/noise.png") 0 0/200px 200px;
  opacity: 0.07;
  z-index: 1000;
  pointer-events: none;
}

/*prismjs代码高亮库专用 START*/
.attr-name{
  color: var(--code1);
}

.attr-value{
  color: var(--code2);
}

.punctuation{
  color: var(--mainColor);
}

.attr-equals{
  color: var(--mainColor);
}

.comment{
  color: var(--mainColor);
  opacity: 0.5;
}

.keyword{
  color: var(--code1);
}

.function{
  color: var(--code2);
}
/*prismjs代码高亮库专用 END*/


[data-language="En"] [data-tips]::after{
  content: var(--tips-text-en,'something there');
}

[data-language="En"] [data-back]:hover{
  --text: var(--back-text-en,'Back');
}

[data-language="Zh"]{
  --banner-dark:url('../VI/banner_top_zh_dark.jpg');
  --banner-light:url('../VI/banner_top_zh_light.jpg');
}
[data-language="En"]{
  --banner-dark:url('../VI/banner_top_en_dark.jpg');
  --banner-light:url('../VI/banner_top_en_light.jpg');
}
[data-theme="light"]{
  --banner-bak:#1a1a1a;
  --banner-top:var(--banner-dark)
}
[data-theme="dark"]{
  --banner-bak:#eaeaea;
  --banner-top:var(--banner-light)
}
[data-banner-top]{
  width: 100vw;
  height: var(--banner-h);
  background: var(--banner-top),var(--banner-bak);
  background-size:contain;
  background-repeat: no-repeat;
  background-position:calc(10% - 8vw) 50%;
}

.switch [data-swi-icon]{
transition:transform 0.2s ease-out;
}

input[type="checkbox"]:checked+.switch [data-swi-icon]{
  transform: translateX(var(--swi-h,18px));
}

[data-worksname-list]{
  --turnto-w:60px;
  --arrow-w: 4;
  --svg-h:100px;
  gap:10px;
  padding: 10px 0;
}

[data-worksname-turnto]{
  width: fit-content;
  gap: 20px;
}

[data-worksname-turnto]:hover [data-worksname-path],
[data-worksname-turnto]:hover [data-arrow-path]
{
  animation: none;
}


[data-language="Zh"] [data-worksname-list]{
  --turnto-text:'详情';
}

[data-language="En"] [data-worksname-list]{
  --turnto-text:'view';
}

[data-theme="light"] [data-worksname]{
  background: linear-gradient(to right,var(--themeColor));
  background-repeat: no-repeat;
  background-size: 0;
  background-position: 0;
}

[data-theme="dark"] [data-worksname]{
  background: linear-gradient(to right,var(--boxGry));
  background-repeat: no-repeat;
  background-size: 0;
  background-position: 0;
}

@keyframes colormove {
  0%{
    background-size: 0%;
    background-position: 0;
  }
  50%{
    background-size: 100%;
    background-position: 0;
  }
  51%{
    background-size: 100%;
    background-position: 100%;
  }
  100%{
    background-size: 0%;
    background-position: 100%;
  }
}

@keyframes colormove1 {
  0%{
    background-size: 0%;
  }
  100%{
    background-size: 100%;
  }
}

@keyframes colormove2 {
  0%{
    background-size: 100%;
    background-position: 100%;
  }
  100%{
    background-size: 0%;
    background-position: 100%;
  }
}

[data-worksname="zh"],[data-arrow-path]{
  --bod-cap: square/*square | round*/;
  --bod-join: round/*miter | round*/;
}

[data-worksname="en"]{
  --bod-cap: butt/*butt | round*/;
  --bod-join: miter/*miter | round*/;
}

[data-language="Zh"] [data-worksname-path]{
  stroke: var(--mainColor);
  stroke-linecap: var(--bod-cap);
  stroke-linejoin: var(--bod-join);
  stroke-width: 4;
  --bod-array: 100%;
  stroke-dasharray: var(--bod-array);
  stroke-dashoffset: 0%;
  animation: worksnameCut 10s ease-in-out infinite,worksnameChange 20s infinite;
}

@keyframes worksnameCut {
  0%{
    stroke-dashoffset: var(--bod-array);
    stroke-width: 0.25;
  }
  10%{
    stroke-dashoffset: 0%;
    stroke-width: var(--bod-w);
  }
  90%{
    stroke-dashoffset: 0%;
    stroke-width: var(--bod-w);
  }
  100%{
    stroke-dashoffset: calc(var(--bod-array) * -1);
    stroke-width: 0.25;
  }
}

@keyframes worksnameChange {
  0%{
    --bod-cap: butt;
    --bod-w: 4;
  }
  50%{
    --bod-cap: butt;
    --bod-w: 4;
  }
  51%{
    --bod-cap: round;
    --bod-w: 4;
  }
  100%{
    --bod-cap: round;
    --bod-w: 4;
  } 
}

[data-language="En"] [data-worksname-path]{
  stroke:var(--mainColor);
  stroke-linecap:var(--bod-cap);
  stroke-linejoin:var(--bod-join);
  stroke-width:6;
  --bod-array:140%;
  stroke-dasharray: var(--bod-array);
  stroke-dashoffset: 0%;
  animation: worksnameCut2 10s ease-in-out infinite,worksnameChange2 20s infinite;
}

@keyframes worksnameCut2 {
  
  0%{
    stroke-dashoffset: var(--bod-array);
    stroke-width:1;
  }
  10%{
    stroke-dashoffset: 0%;
    stroke-width:var(--bod-w);
  }
  11%{
    stroke-dashoffset: 0%;
    stroke-width:var(--bod-w);
    stroke-dasharray: none;
  }
  89%{
    stroke-dashoffset: 0%;
    stroke-width:var(--bod-w);
    stroke-dasharray: none;
  }
  90%{
    stroke-dashoffset: 0%;
    stroke-width:var(--bod-w);
  }
  100%{
    stroke-dashoffset: calc(var(--bod-array) * -1);
    stroke-width:1;
  }
}

@keyframes worksnameChange2 {
  0%{
    --bod-join: miter;
    --bod-w: 6;
  }
  50%{
    --bod-join: miter;
    --bod-w: 6;
  }
  51%{
    --bod-join: round;
    --bod-w: 4;
  }
  100%{
    --bod-join: round;
    --bod-w: 4;
  } 
}

[data-arrow-path]{
  stroke:var(--mainColor);
  stroke-linecap:var(--bod-cap);
  stroke-linejoin:var(--bod-join);
  stroke-width:4;
  stroke-dasharray: 110%;
  stroke-dashoffset: 0%;
  animation: arrowCut 10s ease-in-out infinite,arrowChange 20s infinite;
}

@keyframes arrowCut {
  0%{
    stroke-dashoffset: 110%;
  }
  10%{
    stroke-dashoffset: 0%;
  }
  90%{
    stroke-dashoffset: 0%;
  }
  100%{
    stroke-dashoffset: -110%;
  }
}

@keyframes arrowChange {
  0%{
    --bod-join: bevel;
    --bod-cap: square;
  }
  50%{
    --bod-join: bevel;
    --bod-cap: square;
  }
  51%{
    --bod-join: round;
    --bod-cap: round;
  }
  100%{
    --bod-join: round;
    --bod-cap: round;
  } 
}

[data-any="zh"]{
  --turnto-r:calc(var(--turnto-w)/5);
}

[data-language="Zh"] [data-worksname="en"],
[data-language="Zh"] [data-any="en"]
{
  display: none;
}

[data-language="En"] [data-worksname="zh"],
[data-language="En"] [data-any="zh"]{
  display: none;
}

[data-mobile="true"] [data-any="pc"]{
  display: none;
}

[data-egfont]{
  white-space:initial;
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 1.2em;
  font-size: var(--egfont-size);
}

[data-egfont-size]{
  --range-af: var(--boxBak);
  --range-bod: var(--mainColor);
  --range-af-w: 16px;
  --range-af-r:50%; 
}

[data-fontcard]{
  position: relative;
  font-size: 12px;
}

.fontcard-title{
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.fontcard-title::before{
  content: '';
  width: 1ch;
  height: 1ch;
  border-radius: 50%;
  flex: 0 0 auto;
  background: var(--mainColor);
  opacity: 0.6;
}

[data-fontcard]{
  gap:10px;
  padding: 14px 0;
}

[data-fontcard]::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  border-bottom:1px dashed var(--boxBod);
  animation: widthUp 0.5s ease-in-out;
}

@keyframes widthUp {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

.fontcard-title-style{
  width: fit-content;
  padding: 4px 8px;
  border: 1px solid var(--boxBod);
  background: var(--boxGry);
  color: var(--mainColor,);
  gap: 4px;
  right: 0px;
}

.fontcard-title-style:hover{
  --down-df:flex;
}

[data-fonttags]{
  font-size: 12px;
  font-weight: 400;
  line-height: 2.5ch;
  background: var(--boxBak);
  border: 1px solid var(--tagsColor,var(--mainColor));
  color:var(--tagsColor,var(--mainColor));
  padding: 0.2ch 1ch;
  border-radius: 10px;
  box-sizing: border-box;
}

[data-fonttags]:hover{
  filter: invert();
}

[for="egfont-moreset"]{
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid transparent;
  background: var(--themeColor);
}

input[type="checkbox"]:checked + [for="egfont-moreset"]{
  --themeColor: var(--boxBak);
  border-color: var(--boxBod);
}

[data-theme="dark"] [for="egfont-moreset"]{
  --mainColor:#242424;
}

[data-theme="dark"] input[type="checkbox"]:checked + [for="egfont-moreset"]{
  --mainColor: var(--boxBod);
}

@media (max-width:750px) {
  :root{
  --banner-h:24px;
  }
  [data-worksname-list]{
    --turnto-w:26px;
    --arrow-w: 4;
    --svg-h:40px;
    gap:10px;
  }
  [data-worksname-turnto]{
    gap:10px;
  }
  [data-language="Zh"] [data-worksname-turnto] [data-turnto]{
    padding:0 1ch;
    width: fit-content;
    line-height: 1.5em;
    font-weight: 700;
    font-size: 10px;
    --text:'详情';
  }
  [data-language="En"] [data-worksname-turnto] [data-turnto]{
    padding:0 1ch;
    width: fit-content;
    line-height: 1.5em;
    font-weight: 700;
    --text:'view';
  }

  .fontcard-title{
    font-size: 14px;
  }

  [data-fonttags]{
    font-size: 10px;
  }
  
}