@font-face {
    font-family: 'Source Han Serif CN';
    src: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/source-file/otf/SourceHanSerifCN-Heavy.otf') format('opentype'), url('https://cdn.jsdelivr.net/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/source-file/otf/SourceHanSerifCN-Heavy.otf') format('opentype');
    font-weight: 900;
}
@font-face {
    font-family: 'Source Han Serif CN';
    src: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/min-output/SourceHanSerifCN-Bold.otf') format('opentype'), url('https://cdn.jsdelivr.net/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/min-output/SourceHanSerifCN-Bold.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'Source Han Serif CN';
    src: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/min-output/SourceHanSerifCN-Medium-Min.otf') format('opentype'), url('https://cdn.jsdelivr.net/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/min-output/SourceHanSerifCN-Medium-Min.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Source Han Serif CN';
    src: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/min-output/SourceHanSerifCN-Regular-Min.otf') format('opentype'), url('https://cdn.jsdelivr.net/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/min-output/SourceHanSerifCN-Regular-Min.otf') format('opentype');
    font-weight: 400;
    
}
@font-face {
    font-family: 'Source Han Sans CN';
    src: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/source-file/ttf/SourceHanSansSC-Heavy.ttf') format('truetype'), url('https://cdn.jsdelivr.net/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/source-file/ttf/SourceHanSansSC-Heavy.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'Source Han Sans CN';
    src: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/min-output/SourceHanSansSC-Bold-Min.ttf') format('truetype'), url('https://cdn.jsdelivr.net/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/min-output/SourceHanSansSC-Bold-Min.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Source Han Sans CN';
    src: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/min-output/SourceHanSansSC-Medium-Min.ttf') format('truetype'), url('https://cdn.jsdelivr.net/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/min-output/SourceHanSansSC-Medium-Min.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Source Han Sans CN';
    src: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/min-output/SourceHanSansSC-Normal-Min.ttf') format('truetype'), url('https://cdn.jsdelivr.net/gh/YNYU01/SourceHanSansCN-TTF-Min@fc209d1b81aafdd218d5adb83edad7a09e6105ab/min-output/SourceHanSansSC-Normal-Min.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'FZJinLS-B-GB';   
    src: url('../../../../fonts_other/%E6%96%B9%E6%AD%A3%E7%B2%97%E9%87%91%E9%99%B5.ttf') format('truetype');
}
@font-face {
    font-family: 'FZYaSongS-B-GB';
    src: url('../../../../fonts_other/%E6%96%B9%E6%AD%A3%E7%B2%97%E9%9B%85%E5%AE%8B.ttf') format('truetype');
}
@font-face {
    font-family: 'FZShengShiKaiShuS-EB-GB';
    src: url('../../../../fonts_other/%E6%96%B9%E6%AD%A3%E7%9B%9B%E4%B8%96%E6%A5%B7%E4%B9%A6.ttf') format('truetype');
}
@font-face {
    font-family: 'HYXiaoLiShuJ';
    src: url('../../../../fonts_other/%E6%B1%89%E4%BB%AA%E5%B0%8F%E9%9A%B6%E4%B9%A6.ttf') format('truetype');
}

@font-face {
    font-family: 'HYDiWRGJ';
    src: url('../../../../fonts_other/%E6%B1%89%E4%BB%AA%E7%AC%AC%E4%BA%94%E4%BA%BA%E6%A0%BC%E4%BD%93%E7%AE%80.ttf') format('truetype');
}

@font-face {
    font-family: 'AaShisongti' ;
    src: url('../../../../fonts_other/Aa%E8%AF%97%E5%AE%8B%E4%BD%93.ttf') format('truetype');
}

@font-face {
    font-family: "AaJianHaoTi"; 
    src: url('../../../../fonts_other/Aa%E5%89%91%E8%B1%AA%E4%BD%93.ttf') format('truetype');
}

@font-face {
    font-family: "Hangyaku";
    src: url('../../../../fonts_other/%E5%8F%9B%E9%80%86%E6%98%8E%E6%9C%9D.ttf') format('truetype');
}

@font-face {
    font-family: "CKTKingKong";
    src: url('../../../../fonts_other/%E5%88%9B%E5%AE%A2%E8%B4%B4%E9%87%91%E5%88%9A%E4%BD%93.otf') format('opentype');
}

@font-face {
    font-family: "PangMenZhengDao";
    src: url('../../../../fonts_other/%E5%BA%9E%E9%97%A8%E6%AD%A3%E9%81%93%E6%A0%87%E9%A2%98%E4%BD%93.ttf') format('truetype');
}

@font-face {
    font-family: "ZhenyanGB" ;
    src: url('../../../../fonts_other/%E9%94%90%E5%AD%97%E7%9C%9F%E8%A8%80%E4%BD%93.ttf') format('truetype');
}

@font-face {
    font-family: "LogoSC Unbounded Sans" ;
    src: url('../../../../fonts_other/%E6%A0%87%E5%B0%8F%E6%99%BA%E6%97%A0%E7%95%8C%E9%BB%91.ttf') format('truetype');
}

@font-face {
    font-family: "SJsanjililiangtijian-cu" ;
    src: url('../../../../fonts_other/%E4%B8%89%E6%9E%81%E5%8A%9B%E9%87%8F%E4%BD%93%E7%AE%80.ttf') format('truetype');
}

@font-face {
    font-family: "三极泼墨体" ;
    src: url('../../../../fonts_other/%E4%B8%89%E6%9E%81%E6%B3%BC%E5%A2%A8%E4%BD%93.ttf') format('truetype');
}

@font-face {
    font-family: "临海体" ;
    src: url('../../../../fonts_other/%E4%B8%B4%E6%B5%B7%E9%9A%B6%E4%B9%A6.ttf') format('truetype');
}

@font-face {
    font-family: "_851Gkktt" ;
    src: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/listEase@4e63865ad52b3ed3df2841ede998b2805a7baee6/fonts/851%E7%94%B5%E6%9C%BA%E6%96%87%E5%AD%97.otf') format('opentype'), url('https://cdn.jsdelivr.net/gh/YNYU01/listEase@4e63865ad52b3ed3df2841ede998b2805a7baee6/fonts/851%E7%94%B5%E6%9C%BA%E6%96%87%E5%AD%97.otf') format('opentype');
}
 
@font-face {
    font-family: "id-POP_FTMARU" ;
    src: url('../../../../fonts_other/idfont%E6%89%8B%E5%86%99%E7%B2%97.otf') format('opentype');
}
@font-face {
    font-family: "k8x12";
    src: url('../../../../fonts_other/k8_12%E5%83%8F%E7%B4%A0%E4%BD%93.ttf') format('truetype');
}
@font-face {
    font-family: "qiantuhouheiti" ;
    src: url('../../../../fonts_other/%E5%8D%83%E5%9B%BE%E5%8E%9A%E9%BB%91%E4%BD%93.ttf') format('truetype');
    
}
@font-face {
    font-family: "ziticqtezhanti";
    src: url('../../../../fonts_other/%E5%AD%97%E4%BD%93%E4%BC%A0%E5%A5%87%E7%89%B9%E6%88%98%E4%BD%93.ttf') format('truetype');
}
@font-face {
    font-family: "WDCH" ;
    src: url('../../../../fonts_other/%E6%96%87%E9%81%93%E6%BD%AE%E9%BB%91.ttf') format('truetype');
}
@font-face {
    font-family: "SrcMing" ;
    src: url('../../../../fonts_other/%E6%BA%90%E6%84%8F%E6%98%8E%E4%BD%93.ttf') format('truetype');
}
@font-face {
    font-family: "TangXianBinSong" ;
    src: url('../../../../fonts_other/%E6%B1%A4%E5%AE%AA%E6%BB%A8%E5%AE%8B.otf') format('opentype');
}
@font-face {
    font-family: "MaoKenWangXingYuan" ;
    src: url('../../../../fonts_other/%E7%8C%AB%E5%95%83%E5%BF%98%E5%BD%A2%E5%9C%86.ttf') format('truetype');
}
@font-face {
    font-family: "荆南波波黑" ;
    src: url('../../../../fonts_other/%E8%8D%86%E5%8D%97%E6%B3%A2%E6%B3%A2%E9%BB%91.ttf') format('truetype');
}
@font-face {
    font-family: "TogebaraBold";
    src: url('../../../../fonts_other/%E8%8D%86%E6%A3%98%E9%BB%91%E7%B2%97.otf') format('opentype');
}
@font-face {
    font-family: "Kaisei Tokumin" ;
    src: url('../../../../fonts_other/%E8%A7%A3%E6%98%9F%E6%98%8E%E4%BD%93.ttf') format('truetype');
}
@font-face {
    font-family: "WenCang" ;
    src: url('../../../../fonts_other/%E9%97%AE%E8%97%8F%E4%B9%A6%E6%88%BF.TTF') format('truetype');
}
@font-face {
    font-family: "YouSheBiaoTiHei" ;
    src: url('../../../../fonts_other/%E4%BC%98%E8%AE%BE%E6%A0%87%E9%A2%98%E9%BB%91.ttf') format('truetype');
}


.noto-serif-sc {
    font-family: "Noto Serif SC", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/*
font-family: source-han-sans-simplified-c, sans-serif;
font-weight: 900;
font-style: normal;

font-family: source-han-serif-cn-subset, sans-serif;
font-weight: 900;
font-style: normal;
*/