body {
  width: 400px;
  height: 600px;
  --mainFontSize: 12px;
}

input[type="text"],textarea{
  cursor: text;
}

*::selection{
  background: rgba(49, 207, 154, 0.24);
}

[data-page-id="html2zy"] [data-btn="main"]{
  background: var(--boxGry);
  border-radius: 6px;
  padding: 0.25ch 2ch;
}

[data-page-id="html2zy"] [data-btn="export"]{
  background: var(--themeColor);
  border: none;
  border-radius: 6px;
  padding: 1.5ch;
  color: #2b2b2b;
  font-weight: 700;
}

[data-page-id="html2zy"] [data-btn="sec"]{
  border-radius: 16px;
  padding: 0.25ch 2ch;
}

[data-tips]::after{
  font-size: 10px;
  padding: 0.25ch 1ch;
}

#bottom{
  height: 30px;
  border-top: 1px solid var(--boxBod);
  background-image: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/YNYU_SET@de30e231ecca2aebcb5f047c510989598a99bc97/VI/logo_graph_bod.png');
  background-size: 300px auto;
  background-repeat: repeat-x;
  background-position: 0 0;
  animation: bgMove 40s linear infinite;
}
@keyframes bgMove {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -300px;
  }
}

/* 元素列表样式 */
[data-list-section]{
  height: calc(100dvh - 68px);
}

[data-elementslist-box]{
  height: calc(100% - 108px);
}

[data-elementslist-set]{
  padding: 4px 10px;
  background: var(--boxGry);
  z-index: 3;
}

#elementsList{
  height: calc(100% - 28px);
  padding: 20px 4px;
  box-sizing: border-box;
  margin-top: -10px;
}

[data-tag-element]{
  border: 1px solid var(--boxBod);
  padding: 4px 10px 6px 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

[data-tag-element="false"]{
  opacity: 0.5;
}

[data-elementslist-box] input[type="checkbox"]:checked + label{
  --fill: var(--code1);
}

[data-previewbox]{
  display: none;
  border: 1px solid var(--boxBod);
  border-radius: 4px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 50vh;
  resize: both;
}

/* 状态提示样式 */
.status {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-bottom: 8px;
  padding: 2px 8px;
  border-radius: 20px;
  display: none;
  text-align: center;
  z-index: 10;
}

.status.success {
  display: block;
  background-image: linear-gradient(to bottom, rgba(28, 201, 146, 0.15));
  background-color: var(--boxBak);
  color: var(--code1);
  border: 1px solid var(--code1);
}

.status.error {
  display: block;
  background-image: linear-gradient(to bottom, rgba(220, 53, 69, 0.15));
  background-color: var(--boxBak);
  color: #dc3545;
  border: 1px solid #dc3545;
}

.status.loading {
  display: block;
  background-image: linear-gradient(to bottom, rgba(201, 120, 28, 0.15));
  background-color: var(--boxBak);
  color: var(--code9);
  border: 1px solid var(--code9);
}

.status.loading::after{
  content: '...';
  animation: dot 1s infinite;
}

@keyframes dot {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
}