@font-face {
  font-family: Shanggu Sans;
  src: url("https://cdn.jsdelivr.net.cn/gh/YNYU01/YNYU_SET@ba19c5d927f0c9cc1bb1647b224fb58667102074/fonts/other/ShangguSans-Regular.otf") format('opentype');
  font-weight: 400;
  font-display: swap;;
}

:root{
  --top-h: 32px;
  --bottom-h: 40px;
  --side-w: 200px;
  --option-font: 12px;
  --pointer:url('https://cdn.jsdelivr.net.cn/gh/YNYU01/YNYU_SET@ba19c5d927f0c9cc1bb1647b224fb58667102074/VI/pointer_24.png'),auto;
  --code3:#48a64d;
  --code4:#b677b1;
  --code5:#a66e48;
  --code6:#77b6b6;
  --code7:#a64848;
  --code8:#527ac4;
  --code9:#e09524;
  --code10:#ec657c;
  /*初始化*/
  --select-w: 100;
  --select-h: 100;
  --w: auto;
  --h: 100%;
}

html{
  cursor: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/YNYU_SET@ba19c5d927f0c9cc1bb1647b224fb58667102074/VI/cursor_16.png'),auto;
}

* {
  cursor: inherit;
}

body{
  min-width: 200px;
}

/*--组件修改*/
.show-next{
  margin:0 2px 0 -2px;
  cursor: var(--pointer,pointer);
}

.show-next::after {
  transform-origin: 40% 40%;
}

p [data-highlight]{
  color: var(--themeColor)
}

[data-radio]{
  width: fit-content;
  height: fit-content;
  flex: 0 0 auto;
  border: none;
  background: none;
  padding: 0.5ch 0;
}

[data-radio-main]:hover {
  background: var(--boxGry);
}

[data-theme="dark"] [data-radio-main="true"] {
  --mainColor: inherit;
}

[data-radio-main="true"] {
  background: var(--boxGry);
}

[data-skill-sec] [data-radio]{
  padding: 0;
  min-width: fit-content;
  height: 20px;
  box-sizing: border-box;
  font-size: 12px;
  border: 1px solid var(--boxBod);
  flex: 1;
}

[data-resize]::after {
  pointer-events: none;
}

[data-option="type"] {
  padding: 1ch 0 0.5ch 1ch;
}

[data-option="option"] {
  padding: 0.5ch 0 0.5ch 3ch;
}

[data-language="En"] [data-tips]::after{
  content: var(--tips-text-en,'something there');
}

[data-mode-id="upload"] [data-tips-x="left"]::after,
#upload-set-main [data-tips-x="left"]::after,
#upload-moreset-box [data-tips-x="left"]::after{
  --x: -20px;
}

[data-mode-id="upload"] [data-tips-x="right"]::after {
  --x: calc(-100% + 70px);
}

[data-mode-id="upload"] [data-tips-x="center"]::after,
#upload-set-main [data-tips-x="center"]::after {
  --x:calc(-50% + 20px)
}


[data-tips-x="right"]::after {
  --x: calc(-100% + 40px);
}

#tips-all{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 80px;
  margin: auto;
  animation: boxUp 0.2s;
  z-index: 20;
  pointer-events: none;
}

.tips-all-text{
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px 8px;
  border-radius: 8px;
}

.switch [data-swi-icon]{
  transition:transform 0.2s ease-out;
  }
  
input[type="checkbox"]:checked+.switch [data-swi-icon]{
  transform: translateX(var(--swi-h,18px));
}

[data-input-unit]{
  height: 20px;
  width: 14px;
  flex: 0 0 auto;
  padding: 0 0 0 0.5ch;
  background: var(--boxGry);
  margin-left: -0.5ch;
  border-radius: 0 4px 4px 0;
}
/*组件修改--*/

html[data-language="En"] {
  --mainFontSize: 10px;
}

html[data-language="Zh"] {
  --mainFontSize: 12px;
}

body{
  font-size: var(--mainFontSize);
}

#top{
  height: var(--top-h);
  position: relative;
}

#top::after{
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: var(--boxBod);
  opacity: 0.5;
}

#bottom{
  height: var(--bottom-h);
  bottom: 0;
  padding:0 10px 0 4px;
  box-sizing: border-box;
}

#bottom::before{
  content: '';
  position: absolute;
  top: -1px;
  width: 100%;
  height: 1px;
  background: var(--boxBod);
  opacity: 0.5;
}

[data-tab-for="page"]{
  gap: 4px;
  padding-left: 2%;
}

.tab-top{
  padding: 2px 4px;
  border-radius: 4px;
  text-transform: capitalize;
  opacity: 0.5;
}

input[type="checkbox"]:checked + .tab-top{
  opacity: 1;
  background: var(--swi-bak);
}

[data-page-id="page"]{
 height: calc(100vh - var(--bottom-h) - var(--top-h));
}

[data-tv-box]{
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  font-size: 10px;
}

[data-tv-text]::before,
[data-tv-text]::after{
  content: '❤';
  color: rgb(248, 153, 169);
  width: 10px;
  height: 10px;
  padding: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  transform: scale(0.8);
  animation: heartUp 0.5s cubic-bezier(0,10,1,1) infinite;
}

@keyframes heartUp {
  to{
    transform: scale(0.86);
  }
}

.btn-big{
  width: 12px;
  height: 12px;
  margin-left: 2px;
  cursor: var(--pointer,pointer);
}

input[type="checkbox"]:checked+.btn-big .path1 {
  transform: translateY(6px) translateX(-6px);
}

input[type="checkbox"]:checked+.btn-big .path2 {
  transform: translateX(6px) translateY(-6px);
}

[data-side]{
  left: 0;
  z-index: 11;
  /*animation: topTabUp 0.5s;*/
}

[data-side-mix]{
  width: var(--side-w);
  background: var(--boxGry);
  padding: 10px 10px;
  justify-content: space-between;
  display: none;
  overflow: hidden;
}


@keyframes sideUp {
  0%{
    width: 0;
  }
  100%{
    width: var(--side-w);
  }
}

@keyframes sideOver {
  0%{
    width: var(--side-w);
    padding-left: 10px;
  }
  100%{
    width: 0;
    padding-left: 0px;
  }
}

@keyframes topTabUp {
  0%{
    transform: translateY(calc(var(--top-h) * -1));
  }
  100%{
    transform: translateY(0%);
  }
}

[data-icon-more]{
  transition: transform 0.4s;
}

input[type="checkbox"]:checked + label [data-icon-more]{
  transform: rotate(90deg);
}

[data-icon-more-path]{
  stroke: var(--mainColor);
  stroke-width: 2;
  transition: transform 0.2s;
}

[data-icon-more-path="1"]{
  transform: matrix(1,0,0,1,1,4);
}
[data-icon-more-path="2"]{
  transform: matrix(1,0,0,1,1,10);
}
[data-icon-more-path="3"]{
  transform: matrix(1,0,0,1,1,16);
}

input[type="checkbox"]:checked + label [data-icon-more-path="1"]{
  transform: matrix(0.7,0.7,-0.7,0.7,3.64,3.64);
}
input[type="checkbox"]:checked + label [data-icon-more-path="2"]{
  transform: matrix(0.1,0,0,1,10,10);
}
input[type="checkbox"]:checked + label [data-icon-more-path="3"]{
  transform: matrix(0.7,-0.7,0.7,0.7,3.64,16.37);
}

#btn-theme-1,#btn-theme-2,#btn-theme-3{
  width: 20px;
  height: 20px;
  padding: 4px;
  box-sizing: border-box;
  background: var(--swi-bak);
  border-radius: 4px;
  border: 1px solid var(--boxBod);
}

[data-mainset-top],
[data-mainset-bottom]{
  display: none;
}

.btn-more{
  width: 16px;
  height: 16px;
  opacity: 0.6;
  cursor: var(--pointer,pointer);
}

[data-mainset-side-box]{
  gap:4px;
  padding: 10px 0;
  border-top: 1px solid var(--boxBod);
}

[data-language="Zh"] [data-any="en"]{
  display: none;
}

[data-language="En"] [data-any="zh"]{
  display: none;
}

[data-resize-window]{
  content: '';
  position: absolute;
  cursor:nw-resize;
  bottom: 2px;
  right: 2px;
  width: 8px;
  height: 8px;
  background: linear-gradient(to top left,
  transparent 20%,
  var(--boxBod) 21%,
  var(--boxBod) 25%,
  transparent 26%,
  transparent 45%,
  var(--boxBod) 46%,
  var(--boxBod) 50%,
  transparent 51%);
}

[data-tv-box]{
  padding: 0 4px;
}

[data-tv-cut]{
  height: 18px;
  border-radius: 10px;
  background:  rgba(0, 0, 0, 0.8);
  --mainColor: #b9b9b9;
  color: var(--mainColor);
  margin-top: 2px;
}

[data-theme="dark"] [data-tv-cut]{
  --mainColor: #9b9b9b;
}

[data-btn-name]{
  opacity: 0.6;
  white-space: initial;
  text-align: center;
}


/*--按钮类*/
[data-btn]{
  max-width: 580px;
  padding: 2px 0;
  border: 1px solid var(--boxBod);
  box-sizing: border-box;
  cursor: var(--pointer,pointer);
}

[data-btn]:hover{
  background: var(--boxGry);
}

[data-btn]:active{
  transform: translateY(1px);
}

[data-btn="main"]{
  width: calc(100% - 20px);
  border-radius: 20px;
  background: var(--boxGry);
}

[data-btn="main"]:hover,[data-btn="skill-main"]:hover{
  background: var(--boxBod);
}

[data-btn="skill"],[data-btn="skill-main"]{
  border-radius: 4px;
}

[data-btn="skill-main"]{
  width: 100%;
  background: var(--boxGry);
}

[data-btn="help"]{
  margin: 6px 0;
  padding: 0;
  --boxBod: var(--themeColor);
  background: var(--themeColor);
  border-radius: 20px;
  color: #000;
}

[data-btn="help"]:hover{
  background: var(--code1);
}

[data-btn="icon"]{
  display: block;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}

[data-btn="icon"]:hover{
  background: none;
  opacity: 0.5;
}

[data-btn="moreset"]{
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--boxBod);
}

[data-btn="moreset"]:hover{
  background: var(--boxGry);
}

[data-btn="reset"]{
  width: 20px;
  height: 20px;
  flex: 0 0 auto;
  border-radius: 4px;
  margin-left: 4px;
}

input[type="checkbox"]:checked + .btn-moreset:hover{
  background: var(--themeColor);
  --mainColor: #242424;
}


.btn-moreset{
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid transparent;
  background: var(--themeColor);
  --mainColor: #242424;
  cursor: var(--pointer,pointer);
}


input[type="checkbox"]:checked + .btn-moreset{
  background: transparent;
  border: 1px solid var(--boxBod);
  --mainColor: var(--boxBod);
}

[data-help]{
  width: 12px;
  height: 12px;
  border: 1px solid var(--boxBod); 
  border-radius: 50%;
  font-size: 10px;
  color: var(--boxBod);
  cursor: var(--pointer,pointer);
  margin-left: 4px;
}

[data-skilltype-icon]{
  width: 40px;
  height: 40px;
  padding: 4px;
  box-sizing: border-box;
  flex: 0 0 auto;
}

[data-skill-star] {
  width: 20px;
  height: 20px;
  position: absolute;
  cursor: pointer;
  top: 4px;
  right: 4px;
}

[data-skillmodule="Useful & Starts"] span [data-skill-star]{
  display: inline-block;
  position: relative;
  top: 8px;
  left: 0;
  width: 24px;
  height: 24px;
}

[data-transform-center-box]{
  min-width: 70px;
  height: 70px;
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  padding: 4px;
  border: 1px solid var(--boxBod);
  border-radius: 6px;
}

[data-transform-center-box] [data-radio]{
  align-self: center;
  justify-self: center;
  width: 14px;
  height: 14px;
  border: none;
}

[data-transform-center-box] [data-radio-main="true"]{
  color: transparent;
  background: var(--themeColor);
}

/*按钮类--*/

/*--模块类*/
[data-dailog]{
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 50px 20px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 12;
  gap: 4px;
  text-wrap: wrap;
}

[data-dailog-box] p{
  font-size: 11px;
}

[data-dailog-box] li{
  opacity: 0.6;
}

[data-dailog-box] p::before{
  content: '👉 ';
}
[data-dailog-box] p::after{
  content: ':';
}

[data-dailog-close]{
  width: 80%;
  max-width: 360;
}

[data-dailog-close] [data-close]{
  width: 20px;
  height: 20px;
}

[data-dailog-box]{
  width: 80%;
  height: 70%;
  max-width: 360;
  padding: 2% 4%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--boxBod);
  background: var(--boxGry); 
  gap: 4px;
}

.bod-d{
  border: 1px var(--boxBod) dashed;
  border-radius: 10px;
}
[data-drop="upload"]{
  max-width: 560px;
  /*filter: drop-shadow(0 0 var(--drop-w,0) var(--mainColor));*/
}
[data-mode-id="upload"]{
  visibility: var(--drop-df,visible)/*collapse*/;
  gap: 10px;
  padding: 10px;
  font-size: 10px;
}
.file-tag{
  visibility: var(--drop-df,visible)/*collapse*/;
  border-radius: 0 0 10px 10px;
  background: var(--boxGry);
  padding: 2px 8px;
  font-size: 10px;
}
.upload-set{
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--boxBod);
  border-radius: 4px;
}
.nobod {
  --boxBod: transparent;
}

#upload-textarea{
  height: 180px;
  min-height: 180px;
  resize: vertical;
  padding: 4px 10px;
}

#upload-set-box{
  width:100%;
  justify-content: space-between;
}

#upload-set-main{
  gap: 4px;
}

[data-resize]::-webkit-resizer{
  display: none;
}

[data-create-tags-box]{
  resize: vertical;
  height: 200px;
  max-width: 560px;
  min-height: 20vh;
  max-height: 80vh;
}

[data-create-tags],[data-create-catalogues]{
  height: fit-content;
  display: none;
}

[data-create-tags-box="image"] [data-create-tags],
[data-create-tags-box="table"] [data-create-tags]{
  display: flex;
}

[data-create-tags]{
  flex-wrap: wrap;
  gap: 10px;
}

[data-create-tag]{
  height: 24px;
  padding: 2px 4px;
  background: var(--boxGry);
  border-radius: 6px;
  gap: 4px;
  font-size: 10px;
}

[data-skilltype-box]{
  max-width: 560px;
  height: 60px;
  padding: 0 10px;
  gap: 6px;
}
[data-language="En"] [data-skilltype-box]{
  gap: 4px;
}

[data-skilltype-name]{
  font-size: 10px;
  line-height: 1.25em;
  text-wrap: wrap;
}

[data-skills-scroll]{
  max-width: 560px;
  border-top: 1px solid var(--boxBod);
  padding-bottom: 80px;
}

[data-skills-box]{
  padding-top: 10px;
  gap: 6px;
}

[data-skillmodule]{
  border-radius: 4px;
  padding: 6px;
  box-sizing: border-box;
  min-height: 180px;
  flex-wrap: wrap;
  gap: 6px;
}

[data-skillmodule="Useful & Starts"]{
  min-height: 80px;
}

[data-skill-sec]{
  position: relative;
  min-width: 200px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.03);
  padding: 8px;
  text-wrap: wrap;
}

[data-theme="dark"] [data-skill-sec]{
  background: rgba(255, 255, 255, 0.03);
}

[data-skill-cover="end"]{
  opacity: 0.5;
  position: relative;
  overflow: hidden;
}

[data-skillnum-odd="1"] [data-skill-cover="end"]{
  display: none;
}

[data-skill-cover="end"]::after{
  content: '';
  position: absolute;
  width: 110%;
  height: 110%;
  top: -10%;
  left: -10%;
  background: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/YNYU_SET@499353f70d93db793ee5a4102aba38f934c27292/VI/logo_graph_bod.png');
  background-size: 380px;
  animation: bgMove 50s linear infinite;
}

@keyframes bgMove {
  to{
    background-position: 380px 0;
  }
}

[data-skillmodule="Useful & Starts"] [data-skill-cover="end"]{
  opacity: 0.8;
}

[data-skillmodule="Useful & Starts"] [data-skill-cover="tips"]{
  margin-top: -6px;
}


[data-skill-title]{
  --icon-info: var(--boxBod);
  height: 14px;
  gap: 4px;
  margin-bottom: 4px;
}

[data-skill-sec-name]{
  font-size: 12px;
  opacity: 0.6;
  text-transform: capitalize;
}

[data-skill-btnname],[data-skill-btnname-top]{
  font-size: 10px;
}

[data-skill-btnname]::after{
  content: ' ▶';
  opacity: 0.6;
}

[data-skill-btnname-top]::after{
  content: ' ▼';
  opacity: 0.6;
}

[data-skill-line]{
  padding:0 4px;
  margin-bottom: 6px;
  gap: 4px;
}

[data-skill-more]{
  gap: 4px;
}

[data-skewscale-box]{
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}
[data-skewscale-box]::after{
  content: '+';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  z-index: 0;
}

[data-skewscale-view]{
  /**
  --select-h: 100;
  --select-w: 3000;
  --h: auto;/*谁小谁auto*/
  /**/
  --wh: calc(var(--select-w)/var(--select-h));
  aspect-ratio: var(--wh,1);
  width: var(--w,100%);
  height: var(--h,100%);
  max-height: calc(100% - 10px);
  max-width: calc(100% - 40px);
  border: 1px var(--themeColor) solid;
  box-sizing: border-box;
  transform: 
  skew(
    calc(var(--skewX,0) * 1deg),
    calc(var(--skewY,0) * 1deg))
  scale(
    calc(var(--scaleX,100) * 1%),
    calc(var(--scaleY,100) * 1%));
}

[data-selects-node]{
  width: 100%;
  max-width: 560px;
  height: 38px;
  font-size: 10px;
  text-wrap: wrap;
  text-align: center;
  opacity: 0.6;
  margin: 4px 0;
}

[data-selects="true"] [data-selects-node]{
  opacity: 1;
}

[data-selects="true"] [data-selects-node]::after{
  content: '';
}

[data-selects="false"] [data-selects-node]::after{
  content: var(--tips-text,'未选中任何图层');
}

[data-selects="false"] [data-selects-info-box]{
  display: none;
 }
 
 [data-selects-info="more"]{
   display: none;
 }

 [data-selects-more="true"] [data-selects-info="more"]{
  display: inline-block;
}

[data-selects-info="main"],[data-selects-info="num"]{
  color: var(--themeColor2);
}

[data-language="En"] [data-selects-node]::after{
  --tips-text: var(--tips-text-en,'No layer selected');
}

[data-selects="false"] [data-skill-line]{
  pointer-events: none;
  opacity: 0.6;
}

[data-skill-gap]{
  font-size: 10px;
  opacity: 0.6;
}

[data-clip-view]{
  width: 100%;
  height: 250px;
  position: relative;
  margin: 4px 0;
}

[data-clip-select]{
  /**
  --select-h: 1200;
  --select-w: 100;
  --w: auto;/*谁小谁auto*/
  /**/
  --wh: calc(var(--select-w)/var(--select-h));
  aspect-ratio: var(--wh,1);
  width: var(--w,100%);
  height: var(--h,100%);
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
  border-radius: 0;
}

[data-clip-set-box="w"]{
  width: 100%;
  height: calc(100% + 30px);
  top: -15px;
  left: 0;
}

[data-clip-set-box="h"]{
  width: calc(100% + 30px);
  height: 100%;
  top: 0;
  left: -15px;
}

[data-clip-w="0"]{
  --dis-w1: none;
  --dis-w2: none;
}
[data-clip-w="2"]{
  --xx: 33.3%;
  --dis-w1: block;
  --dis-w2: none;
}
[data-clip-w="4"]{
  --xx: 20%;
  --dis-w1: block;
  --dis-w2: block;
}
[data-clip-h="0"]{
  --dis-h1: none;
  --dis-h2: none;
}
[data-clip-h="2"]{
  --yy: 33.3%;
  --dis-h1: block;
  --dis-h2: none;
}
[data-clip-h="4"]{
  --yy: 20%;
  --dis-h1: block;
  --dis-h2: block;
}

[data-clip-set="x1"],[data-clip-set="x2"]{
  display: var(--dis-w1);
}
[data-clip-set="x3"],[data-clip-set="x4"]{
  display: var(--dis-w2);
}
[data-clip-set="y1"],[data-clip-set="y2"]{
  display: var(--dis-h1);
}
[data-clip-set="y3"],[data-clip-set="y4"]{
  display: var(--dis-h2);
}


[data-clip-set-box="w"] [data-clip-set]{
  width: var(--x,var(--xx));
  border-width:0 1px 0 0;
  resize: horizontal;
  max-width: calc(100% - 10px);
  min-width: 1px;
}

[data-clip-set-box="w"] [data-clip-set]::after{
  right: -4px;
  bottom: 0;
}

[data-clip-set-box="w"] [data-clip-set]::before{
  right: 6px;
  bottom: 0;
}

[data-clip-set-box="h"] [data-clip-set]{
  height: var(--y,var(--yy));
  border-width:0  0 1px 0;
  resize: vertical;
  max-height: calc(100% - 10px);
  min-height: 1px;
}

[data-clip-set-box="h"] [data-clip-set]::after{
  right: 0;
  bottom: -4px;
}

[data-clip-set-box="h"] [data-clip-set]::before{
  right: 0;
  bottom: 6px;
}

[data-clip-set]{
  border-style: solid;
  border-color: var(--boxBod);
}

[data-clip-set]::after{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--themeColor);
  border-radius: 4px;
}

[data-clip-set]::-webkit-resizer{
  display: none;
}

[data-clip-set]::before{
  content: attr(data-clip-set);
  position: absolute;
  width: 8px;
  height: 8px;
  font-size: 8px;
}

/*模块类--*/

/*--纹理类*/
.tex-dot{
  --dot-wh: 1px;
  --dot-gap: 10px;
  background: 
  repeating-radial-gradient(
    circle at center,
    var(--dot-col) 0,
    var(--dot-col) var(--dot-wh),
    transparent var(--dot-wh),
    transparent calc(var(--dot-gap)*2)), var(--boxBak);
  background-size: var(--dot-gap) var(--dot-gap);
}

.tex-line{
  --line-col: rgba(0, 0, 0, 0.8);
  --line-size: 50px;
  --line-bod: 4%;
  --line-deg: -45deg;
  --line-bak: transparent;
  background: 
  repeating-linear-gradient(var(--line-deg),
    var(--line-col) -20%,
    var(--line-col) calc(-20% + var(--line-bod)),
    transparent calc(-20% + var(--line-bod)),
    transparent 30%,
    var(--line-col) 30%,
    var(--line-col) calc(30% + var(--line-bod)),
    transparent calc(30% + var(--line-bod)),
    transparent 80%,
    var(--line-col) 80%,
    var(--line-col) calc(80% + var(--line-bod)),
    transparent calc(80% + var(--line-bod)),
    transparent 100%
    ) 0 0/var(--line-size) var(--line-size),var(--line-bak);
    --pos-x: var(--line-size);
    --pos-y: 0;
    animation: posMove 2s infinite;
    animation-delay: 1s;
}

* .tex-line  {
  --pos-x: var(--line-size);
  --pos-y: 0;
  animation: posMove 2s infinite;
  animation-delay: 1s;
}

@keyframes posMove {
  to {
    background-position: var(--pos-x) var(--pos-y);
  }
}
/*纹理类--*/

@keyframes loadRo2 {/*旋转*/
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-180deg);
  }
}

@media (max-width:469px) {
  [data-any="vw470"]{
    display: none;
  }
}

@media (min-width:470px) {
  [data-transform-center-module]{
    max-width: 72px;
  }
  
}

@media (max-width:460px) {
  [data-language="En"] [data-skillType-name]{
    max-width: 50px;
  }
}

@media (min-width:420px) {
  [data-mainset-bottom]{
    display: flex;
  }

  [data-mainset-side]{
    display: none;
  }

}

@media (max-width:359px) {
  #upload-textarea-box{
    width: 100%;
    flex: 0 0 auto;
  }
  [data-language="Zh"] [data-skillType-name]{
    max-width: 5ch;
  }
  .file-tag{
    max-width: 200px;
  }

}

@media (min-width:360px) {
  #upload-set-box{
    width: 40px;
  }
  #upload-set-main{
    width: 40px;
    height: calc(100% - 40px);
    flex-flow: column;
  }
  #upload-set-main [data-tips-x="left"]::after,
  #upload-set-main [data-tips-x="center"]::after {
    --x: calc(-100% + 40px);
  }

  [data-radio]{
    padding: 0.5ch;
  }
}
@media (max-width:299px) {
  [data-any="vw300"]{
    display: none;
  }
  [data-tips]::after{
    display: none;
  }
  
}

@media (max-width:300px) {
  [data-transform-center-module]{
    max-width: 72px;
  }
}

@media (min-width:300px) {
  [data-skillType-box]{
    justify-content: center;
    height: 80px;
  }
}

@media (max-width:239px) {
  [data-any="vw240"]{
    display: none;
  }

  [data-mainset-top]{
    display: flex;
  }

  [data-skill-sec]{
    min-width: 160px;
  }

  [data-skill-more]{
    flex-wrap: wrap;
  }

}
