@font-face {
  font-family: Shanggu Sans;
  src: url("https://cdn.jsdelivr.net.cn/gh/YNYU01/YNYU_SET@ba19c5d927f0c9cc1bb1647b224fb58667102074/fonts/other/ShangguSans-Regular.otf") format('opentype');
  font-weight: 400;
  font-display: swap;;
}

:root{
  --top-h: 32px;
  --bottom-h: 40px;
  --side-w: 200px;
  --option-font: 12px;
  --pointer:url('https://cdn.jsdelivr.net.cn/gh/YNYU01/YNYU_SET@ba19c5d927f0c9cc1bb1647b224fb58667102074/VI/pointer_24.png'),auto;
  --code3:#48a64d;
  --code4:#b677b1;
  --code5:#a66e48;
  --code6:#77b6b6;
  --code7:#a64848;
  --code8:#527ac4;
  --code9:#e09524;
  --code10:#ec657c;
  --impColor1:var(--boxBak);
  --linstyle-1:#2f8065;
  --linstyle-2:#6d6d6d;
  --linstyle-3:#a8652e;
  /*初始化*/
  --select-w: 100;
  --select-h: 100;
  --w: auto;
  --h: 100%;
  --bg-mask: 20, 20, 20;
}

html[data-theme="light"] {
  --bg-mask: 220, 220, 220;
  --boxGry: #d9d9d9;
  --themeColor: #1cc992;
  --code1: #32a074;
  --linstyle-1:#60cfb7;
  --linstyle-2:#aaaaaa;
  --linstyle-3:#e07c4d;
}

html{
  cursor: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/YNYU_SET@ba19c5d927f0c9cc1bb1647b224fb58667102074/VI/cursor_16.png'),auto;
}

* {
  cursor: inherit;
}

input[type="text"],textarea{
  cursor: text;
}

[data-theme="none"] body{
  display: none;
}


body{
  min-width: 200px;
  animation: loadOp 1s;
}

/*--组件修改*/
.show-next{
  margin:0 2px 0 -2px;
  cursor: var(--pointer,pointer);
}

.show-next::after {
  transform-origin: 40% 40%;
}

p [data-highlight]{
  color: var(--themeColor)
}

[data-page-name-en="sheet"] .switch{
  --swi-af: var(--mainColor);
  opacity: 0.5;
}

[data-page-name-en="sheet"] input[type="checkbox"]:checked +.switch{
  --swi-af: var(--themeColor);
  opacity: 1;
}

[data-radio]{
  width: fit-content;
  height: fit-content;
  flex: 0 0 auto;
  border: none;
  background: none;
  padding: 0.5ch 0;
}

[data-radio-main]:hover {
  background: var(--boxGry);
}

[data-theme="dark"] [data-radio-main="true"] {
  --mainColor: inherit;
}

[data-radio-main="true"] {
  background: var(--boxGry);
}

[data-skill-sec] [data-radio]{
  padding: 0;
  min-width: fit-content;
  height: 20px;
  box-sizing: border-box;
  font-size: 11px;
  border: 1px solid var(--boxBod);
  flex: 1;
}

[data-resize]::after {
  pointer-events: none;
}

[data-option="type"] {
  padding: 1ch 0 0.5ch 1ch;
}

[data-option="option"] {
  padding: var(--op-pad-t,0.5ch) 0 var(--op-pad-t,0.5ch) var(--op-pad-l,3ch);
  box-sizing: border-box;
}

#tips-all{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 80px;
  margin: auto;
  animation: boxUp 0.2s;
  z-index: 20;
  pointer-events: none;
}

.tips-all-text{
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px 8px;
  border-radius: 8px;
}

[data-input-unit]{
  height: 20px;
  width: 18px;
  flex: 0 0 auto;
  padding: 0 0 0 0.5ch;
  background: var(--boxGry);
  margin-left: -0.5ch;
  border-radius: 0 4px 4px 0;
}

[data-input-unit="auto"]{
  width: fit-content;
  padding:0 0.5ch 0 1ch;
}

[data-selects="false"] [data-pixel-mix] [data-select-options]{
  visibility: hidden;
}

[data-pixel-mix] [data-select-options]{
  white-space: nowrap;
  top: 24px;
  flex-wrap: wrap;
  width: 170;
}

[data-pixel-mix] [data-option="option"]{
  width: 56px;
  padding: 0.5ch;
  box-sizing: border-box;
}
/**md样式--*/
[data-layerlist]{
  padding: 0.5ch;
  --font-size: 8px;
  font-size: var(--font-size);
  white-space: normal;
}

[data-layerlist] img{
  max-width: calc(100% - 2ch);
  margin-left: 1ch;
}
[data-layerlist] h1,
[data-layerlist] h2,
[data-layerlist] h3,
[data-layerlist] h4,
[data-layerlist] h5,
[data-layerlist] h6,
[data-layerlist] p{
  padding: 0 0 0 1ch;
}
[data-layerlist] h1{
  font-size: calc(var(--font-size) + 6px);
}
[data-layerlist] h2{
  font-size: calc(var(--font-size) + 5px);
}
[data-layerlist] h3{
  font-size: calc(var(--font-size) + 4px);
}
[data-layerlist] h4{
  font-size: calc(var(--font-size) + 3px);
}
[data-layerlist] h5{
  font-size: calc(var(--font-size) + 2px);
}
[data-layerlist] h6{
  font-size: calc(var(--font-size) + 1px);
}
[data-layerlist] ul,
[data-layerlist] ol,
[data-layerlist] li{
  padding-left: 2px;
}
[data-layerlist] ul li::before{
  content: '·';
  padding: 0 1ch 0 0.5ch;
}
[data-layerlist] ol li::before{
  display: none;
}
[data-layerlist] ol li{
  list-style: decimal;
  list-style-position: inside;
}
[data-layerlist] li:after{
  content: '';
}
[data-layerlist] table{
  background: var(--boxBod);
  border-spacing: 1;
  overflow: hidden;
  margin: 0.2ch auto;
  width: calc(100% - 2ch);
}

[data-layerlist] th,[data-layerlist] td{
  position: relative;
  padding: 1ch;
  background: var(--boxBak);
}

[data-layerlist] th{
  font-size: var(--font-size);
  background-color: var(--boxGry);
}
[data-layerlist] td{
  font-size: calc(var(--font-size) - 1px);
}
[data-layerlist] pre{
  min-width: calc(100% - 2ch);
  max-width: none;
  margin: 0.2ch auto;
  padding: 1ch;
  width: calc(100% - 2ch);
  background: var(--mainColor4);
  border-radius: 0.5ch;
}
[data-layerlist] code{
  font-size: var(--font-size);
  padding: 0 1ch;
}

[data-layerlist] blockquote{
  margin: 0.2ch auto;
  width: calc(100% - 2ch);
  border-left: 2px var(--boxBod) solid;
  padding-left: 1ch;
}

[data-layerlist] blockquote p{
  margin: 0;
  padding: 0;
}
/*--md样式*/

/*组件修改--*/

html[data-language="En"] {
  --mainFontSize: 10px;
}

html[data-language="Zh"] {
  --mainFontSize: 11px;
}

body{
  font-size: var(--mainFontSize);
}

#top{
  height: var(--top-h);
  position: relative;
}

#top::after{
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: var(--boxBod);
  opacity: 0.5;
}

#bottom{
  height: var(--bottom-h);
  bottom: 0;
  padding:0 10px 0 4px;
  box-sizing: border-box;
  z-index: 10;
}

#bottom::before{
  content: '';
  position: absolute;
  top: -1px;
  width: 100%;
  height: 1px;
  background: var(--boxBod);
  opacity: 0.5;
}

[data-tab-for="page"]{
  gap: 4px;
  padding-left: 2%;
}

.tab-top{
  padding: 2px 4px;
  border-radius: 4px;
  text-transform: capitalize;
  opacity: 0.5;
}

input[type="checkbox"]:checked + .tab-top{
  opacity: 1;
  background: var(--swi-bak);
}

[data-page-id="page"]{
 height: calc(100dvh - var(--bottom-h) - var(--top-h));
}

[data-tv-box]{
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  font-size: 10px;
}

[data-skill-search]{
  --mainColor: var(--boxBod);
  width: 14px;
  height: 14px;
  margin-left: 2px;
  cursor: var(--pointer,pointer);
}

[for="big"]{
  --fill: var(--boxBod)
}

[data-side]{
  left: 0;
  z-index: 11;
  /*animation: topTabUp 0.5s;*/
}

[data-side-mix]{
  width: var(--side-w);
  background: var(--boxGry);
  padding: 10px 10px;
  justify-content: space-between;
  display: none;
  overflow: hidden;
}


@keyframes sideUp {
  0%{
    width: 0;
  }
  100%{
    width: var(--side-w);
  }
}

@keyframes sideOver {
  0%{
    width: var(--side-w);
    padding-left: 10px;
  }
  100%{
    width: 0;
    padding-left: 0px;
  }
}

@keyframes topTabUp {
  0%{
    transform: translateY(calc(var(--top-h) * -1));
  }
  100%{
    transform: translateY(0%);
  }
}

[data-language-check] + label{
  --swi-h:18px;
  --swi-r:6px;
  --swi-af:var(--mainColor);
}

[data-language-check] + label [data-swi-icon]{
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  z-index: 2;
}

#btn-theme-1,#btn-theme-2,#btn-theme-3{
  width: 20px;
  height: 20px;
  background: var(--swi-bak);
  border: 1px solid var(--boxBod);
}

[data-mainset-top],
[data-mainset-bottom]{
  display: none;
}

.btn-more{
  width: 16px;
  height: 16px;
  opacity: 0.6;
  cursor: var(--pointer,pointer);
}

[data-mainset-side-box]{
  gap:4px;
  padding: 10px 0;
  border-top: 1px solid var(--boxBod);
}

[data-language="Zh"] [data-any="en"]{
  display: none;
}

[data-language="En"] [data-any="zh"]{
  display: none;
}

[data-mobile="true"] [data-any="pc"],
[data-mobile="false"] [data-any="pe"]{
  display: none;
}

[data-resize-window]{
  content: '';
  position: absolute;
  cursor:nw-resize;
  bottom: 2px;
  right: 2px;
  width: 8px;
  height: 8px;
  z-index: 20;
  background: linear-gradient(to top left,
  transparent 20%,
  var(--boxBod) 21%,
  var(--boxBod) 25%,
  transparent 26%,
  transparent 45%,
  var(--boxBod) 46%,
  var(--boxBod) 50%,
  transparent 51%);
}

[data-tv-box]{
  padding: 0 4px;
}

[data-tv-cut]{
  height: 18px;
  border-radius: 10px;
  background:  rgba(0, 0, 0, 0.8);
  --mainColor: #b9b9b9;
  color: var(--mainColor);
  margin-top: 2px;
}

[data-theme="dark"] [data-tv-cut]{
  --mainColor: #9b9b9b;
}

[data-btn-name]{
  opacity: 0.6;
  white-space: initial;
  text-align: center;
}

#upload-textarea-box{
  border-radius: 4px;
  border: 1px var(--boxBod) solid;
  overflow: hidden;
  min-width: 180px;
}

#upload-textarea-box [data-textarea="tips"]{
  white-space: normal;
  gap: 4px;
  font-size: 10px;
  color: var(--boxBod);
  bottom: 0;
  padding: 0px 10px;
  box-sizing: border-box;
  animation: boxUp 0.5s;
  pointer-events: none;
}

#upload-textarea-scroll{
  overflow-y: hidden;
  min-height: 186px;
  resize: both;
}

#upload-textarea{
  border: none;
  max-width: none;
  --lineH: 16px;
  --lineC: rgba(122, 122, 122, 0.164);
  padding: 4px 10px 4px 16px;
  line-height: var(--lineH);
}

*::selection{
  background: rgba(49, 207, 154, 0.24);
}

#upload-set-box{
  width:100%;
  justify-content: space-between;
  scrollbar-gutter: stable;
}


#upload-set-main{
  gap: 4px;
}

[data-textarea-wrap="true"]{
  white-space: normal;
  width: 2000px;
}

[data-textarea-wrap="false"]{
  white-space: nowrap;
}

[data-textarea-linenum-box]{
  width: 30px;
  background: var(--boxGry);
  border-right: 1px var(--boxBod) solid;
  padding: 6px 2px;
  box-sizing: border-box;
  opacity: 0.6;
  pointer-events: none;
}

[data-textarea-linenum]{
  height: 20000px;
  text-align: right;
  line-height: 16px;
  gap: 0;
  position: relative;
}

[data-scroll-left]{
  display: flex;
  gap: 4px;
  font-size: 8px;
  height: calc(100% - 2px);
  padding: 2px;
  opacity: 0.3;
  top: 0;
  left: 30px;
}

[data-scroll-left]:hover{
  opacity: 1;
}

[data-scroll-left] [data-btn]{
  width: 10px;
  height: 14px;
  border-radius: 2px;
}

[data-fileinput="true"]::after{
  content: '口';
  color: transparent;
  line-height: 1.5;
}

[data-language="En"] [data-fileinput="true"]::after{
  content: 'QR';
}

[data-fileinput="false"] [data-fileinput-filename],
[data-fileinput="true"] [data-fileinput-text]{
  display: none;
}

[data-fileinput-filename]{
  padding-left: 1ch;
  max-width: 18ch;
  box-sizing: border-box;
  transform: skewX(-8deg);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 300px) and (max-width: 490px) {
  [data-fileinput-filename] {
    max-width: calc(50vw - 50px);
  }
}

/*--按钮类*/
[data-btn]{
  max-width: 580px;
  padding: 2px 0;
  border: 1px solid var(--boxBod);
  box-sizing: border-box;
  cursor: var(--pointer,pointer);
}

[data-btn]:hover{
  background: var(--boxGry);
}

[data-btn]:active{
  transform: translateY(1px);
}

[data-btn-important]::before{
  content: '✦';
  margin-right: 0.25ch;
}

[data-selects="true"] [data-skill-sec]:hover [data-btn-important="skill"]{
  transform: translateX(0);
  animation: btnUp 0.2s cubic-bezier(0, 8, 1, -10);
}

@keyframes btnUp {
  0%{
    transform: translateX(0);
  }
  33%{
    transform: translateX(1px);
  }
  66%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(1px);
  }
}

[data-btn-important="skill"]:hover{
  border-color: var(--themeColor);
}

[data-btn-dblclick]{
  position: relative;
}

[data-btn-dblclick]::after{
  content: '●●';
  position: absolute;
  font-size: 6px;
  top: 0;
  right: 2px;
}

[data-btn="main"]{
  width: calc(100% - 20px);
  border-radius: 20px;
  background: var(--boxGry);
}

[data-btn="main2"]{
  border-radius: 20px;
  background: var(--boxGry);
}

[data-btn="main"]:hover,[data-btn="main2"]:hover,[data-btn="skill-main"]:hover{
  background: var(--boxBod);
}

[data-btn="skill"],[data-btn="skill-main"]{
  border-radius: 4px;
}

[data-btn="skill-main"]{
  width: 100%;
  background: var(--boxGry);
}

[data-btn="help"]{
  margin: 6px 0;
  padding: 0;
  --boxBod: var(--themeColor);
  background: var(--themeColor);
  border-radius: 20px;
  color: #000;
}

[data-btn="help"]:hover{
  background: var(--code1);
}

[data-btn="text"]{
  border: none;
}

[data-btn="text"]:hover,[data-btn="op"]:hover{
  opacity: 0.5;
}

[data-btn="icon"]{
  display: flex;
  padding: 0;
  background: none;
  border: none;
}


[data-btn="icon"]:hover{
  background: none;
  opacity: 0.5;
}

[data-btn="moreset"]{
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--boxBod);
}

[data-btn="moreset"]:hover{
  background: var(--boxGry);
}

[data-btn="reset"]{
  width: 20px;
  height: 20px;
  flex: 0 0 auto;
  border-radius: 4px;
  margin-left: 4px;
}

input[type="checkbox"]:checked + .btn-moreset:hover{
  background: var(--themeColor);
  --mainColor: #242424;
}


.btn-moreset{
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid transparent;
  background: var(--themeColor);
  --mainColor: #242424;
  cursor: var(--pointer,pointer);
}


input[type="checkbox"]:checked + .btn-moreset{
  background: transparent;
  border: 1px solid var(--boxBod);
  --mainColor: var(--boxBod);
}

[data-help]{
  width: 12px;
  height: 12px;
  border: 1px solid var(--mainColor); 
  border-radius: 50%;
  font-size: 10px;
  color: var(--mainColor);
  cursor: var(--pointer,pointer);
  margin-left: 4px;
}

[data-skilltype-icon]{
  width: 28px;
  height: 28px;
  padding: 2px;
  box-sizing: border-box;
  flex: 0 0 auto;
}

[data-skill-star] {
  width: 20px;
  height: 20px;
  position: absolute;
  cursor: var(--pointer,pointer);
  top: 4px;
  right: 4px;
}

[data-skillmodule="Useful & Starts"] span [data-skill-star]{
  display: inline-block;
  position: relative;
  top: 8px;
  left: 0;
  width: 24px;
  height: 24px;
}

[data-transform-center-box]{
  min-width: 70px;
  height: 70px;
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  padding: 4px;
  border: 1px solid var(--boxBod);
  border-radius: 6px;
}

[data-transform-center-box] [data-radio]{
  align-self: center;
  justify-self: center;
  width: 14px;
  height: 14px;
  border: none;
}

[data-transform-center-box] [data-radio-main="true"]{
  color: transparent;
  background: var(--themeColor);
}

[data-qrcode-view-mode="EDIT"]{
  filter: 
  grayscale(1)
  invert(var(--invert,0))
  brightness(var(--brightness,1))
  contrast(var(--contrast,3))
  url('#sharpenFilter');
}

[data-qrcode-view-box],[data-skewscale-view-box]{
  aspect-ratio: 1/1;
  --ratio: 2;
  border: 1px solid var(--boxBod);
}

[data-qrcode-grid-view]{
  border: 1px solid var(--boxBod);
}

input[type="checkbox"]:checked + [data-qrcode-grid-view] svg{
  opacity: 0.5;
}

input[type="checkbox"]:checked + [data-qrcode-grid-view]::after{
  content: '';
  position: absolute;
  top: 50%;
  left: -10%;
  width: 120%;
  height: 1px;
  background: var(--boxBod);
  transform: rotate(45deg);
}

[data-qrcode-grid]{
  aspect-ratio:1/1;
  --grid: 25;/*10-60*/
  --grid-w: calc(100% / var(--grid));
  --col: var(--themeColor);
  border-radius: 2px;
  box-shadow: 0 0 0 999px rgba(0,0,0,0.5);
  position: absolute;
  cursor: move;
  user-select: none;
}

[data-qrcode-grid]::after{
  content: '';
  position: absolute;
  display: var(--scan-ds,none);
  top: 0;
  left: -20%;
  width: 140%;
  height: 3px;
  background: linear-gradient(to right,transparent 4%,var(--themeColor) 50%,transparent 96%);
  animation: scanLine var(--scan-time,5s) linear infinite;/*36px/1s*/
}

@keyframes scanLine {
  to{
    top: 100%;
  }
}

.qrcode-grid{
  border: 2px solid var(--themeColor);
  box-sizing: border-box;
}
.qrcode-grid:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left,var(--col) 1px,transparent 1px) 0 0/var(--grid-w) var(--grid-w) repeat,
  linear-gradient(to bottom,var(--col) 1px,transparent 1px) 0 0/var(--grid-w) var(--grid-w) repeat;
  opacity: 0.6;
}

.qrcode-grid-bod:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--themeColor);
  box-sizing: border-box;
}

[data-qrcode-grid]:active{
  cursor:  url('../../../VI/drag_24.png'),grabbing;
}
[data-qrcode-grid].dragging{
  cursor:  url('../../../VI/drag_24.png'),grabbing;
}

[data-qrcode-grid-resize]{
  --size:14px;
  width: var(--size);
  height: var(--size);
  background: var(--boxGry);
  border: 2px solid var(--themeColor);
  border-radius: 50%;
  cursor: se-resize;
}

[data-qrcode-grid-resize="true"]{
  bottom: 0;
  right: 0;
  transform: translate(50%,50%);
}

[data-qrcode-grid-resize="false"]{
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
}

[data-qrcode-ruslt]{
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  border: 4px solid var(--boxBod);
}

[data-qrcode-convert]{
  border: 1px solid var(--boxBod);
}


[data-qrcode-re]{
  padding: 1px;
  top: 4px;
  right: 4px;
}

[data-inputstyledata-box] [data-textarea="tips"]{
  white-space: normal;
  gap: 4px;
  font-size: 10px;
  color: var(--boxBod);
  bottom: 0;
  padding: 0px 10px;
  box-sizing: border-box;
  animation: boxUp 0.5s;
  pointer-events: none;
}


/*按钮类--*/

/*--模块类*/
[data-dailog]{
  display: none;
  width: 100vw;
  height: 100dvh;
  z-index: 12;
  gap: 4px;
  white-space: normal;
}

[data-dailogimg],[data-dailogsearch],[data-dailoglogin]{
  display: none;
  width: 100vw;
  height: 100dvh;
  box-sizing: border-box;
  padding: 30px 0 100px 0;
  z-index: 12;
}

[data-dailog],[data-dailogimg]{
  background: rgba(0, 0, 0, 0.6);
}

[data-dailogsearch]{
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
}

[data-dailoglogin]{
  background: rgba(0, 0, 0, 0.6);
  padding: 0;
}

[data-theme="light"] [data-dailog],
[data-theme="light"] [data-dailogsearch],
[data-theme="light"] [data-dailoglogin]{
  background: rgba(226, 226, 226, 0.8);
  --boxGry: #ffffff;
  --boxBak: #ffffff;
}

[data-theme="light"] [data-dailogimg]{
  background: rgba(226, 226, 226, 0.8);
  --boxGry: #ffffff;
  --boxBak: #e1e1e1;
}

[data-dailog-box] p{
  font-size: 11px;
}

[data-dailog-box] li{
  opacity: 0.6;
  font-size: 10px;
}

[data-language="Zh"] [data-dailog-box] li{
  line-height: 1.5em;
  margin: 0.5ch 0;
}

[data-language="En"] [data-dailog-box] li{
  line-height: 1.25em;
  margin: 1ch 0;
}

[data-dailog-box] p::before{
  content: '👌 ';
}

[data-dailog-close]{
  width: 80%;
  max-width: 480px;
}

[data-dailog-box]{
  width: 80%;
  height: 70%;
  max-width: 480px;
  padding: 2% 4%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--boxBod);
  background: var(--boxGry); 
  gap: 4px;
}

[data-dailogimg-box] {
  width: 100%;
  height: fit-content;
  max-height: 80%;
}

[data-dailogsearch-box]{
  border-radius: 4px;
  width: calc(100% - 22px);
  height: 100%;
  gap: 4px;
  padding:0 4px 0 6px;
}

[data-dailogsearch-close]{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  gap: 4px;
}

[data-dailogsearch-close] btn-close{
  --mainColor: var(--boxBod)
}

[data-dailoglogin-box] [data-input]{
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid var(--boxBod);
  border-radius: 6px;
  background: var(--boxBak);
  color: var(--mainColor);
}

#skillsearch{
  height: 24px;
}

[data-search-turnto]{
  background: var(--boxBak);
  border-radius: 4px;
  padding: 4px 10px;
  text-transform: capitalize;
  gap: 4px;
}

[data-search-turnto] [data-search-name]{
  width: fit-content;
  font-size: 14px;
}
[data-search-turnto] [data-search-path]{
  width: fit-content;
  opacity: 0.6;
  transform: skewX(-8deg);
}

[data-search-pick="true"] [data-search-name]::before,
[data-search-pick="0"] [data-search-name]::before,
[data-search-pick="1"] [data-search-name]::before,
[data-search-pick="2"] [data-search-name]::before{
  content: '';
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  margin-right: 2px;
}
[data-search-pick="true"] [data-search-name]::before{
  background: var(--liColor);
}
[data-search-pick="0"] [data-search-name]::before{
  background: var(--themeColor2);
}
[data-search-pick="1"] [data-search-name]::before{
  background: var(--themeColor);
}
[data-search-pick="2"] [data-search-name]::before{
  background: var(--boxBod);
}
[data-search-pick="true"]{
  order: -4;
  animation: boxUp 0.5s;
}
[data-search-pick="0"]{
  order: -3;
  animation: boxUp 0.5s;
}
[data-search-pick="1"]{
  order: -2;
  animation: boxUp 0.5s;
}
[data-search-pick="2"]{
  order: -1;
  animation: boxUp 0.5s;
}
[data-search-pick="3"]{
  filter: brightness(0.5);
  order: 0;
  animation: none;
}
[data-theme="light"] [data-search-pick="3"]{
  filter: brightness(0.8);
  order: 0;
  animation: none;
}
[data-search-pick="false"]{
  filter: none;
  order: 0;
  animation: none;
}

[data-search-turnto] [data-btn]{
  width: 8ch;
  height: 20px;
  border-radius: 10px;
}

[data-findbox]{
  border: 4px var(--themeColor) solid;
}

[data-dailogimg-box] img{
  margin: auto;
  pointer-events: none;
}

[data-dailogimg-close]{
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

[data-dailoglogin-box]{
  border-radius: 10px;
  border: 1px solid var(--boxBod);
  background: var(--boxGry);
  padding: 20px;
  max-height: 90dvh;
  max-width: 400px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  white-space: normal;
}

[data-dailoglogin-close]{
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  box-sizing: border-box;
}

[data-dailoglogin-box] input[type="text"],
[data-dailoglogin-box] input[type="password"]{
  font-size: 12px;
}

[data-dailoglogin-box] input[type="text"]::placeholder,
[data-dailoglogin-box] input[type="password"]::placeholder{
  opacity: 0.5;
}

[data-login-error],
[data-register-error]{
  border-radius: 4px;
  background: rgba(166, 72, 72, 0.1);
}

[data-user-avatar-box]{
  width: 48px;
  height: 48px;
  flex: 0 0 auto;
  border-radius: 50%;
  background: var(--themeColor);
  color: #000;
  font-size: 20px;
  font-weight: bold;
}
[data-user-avatar]{
  text-transform: uppercase;
}

[data-dailog-close] [data-close],
[data-dailogimg-close] [data-close],
[data-dailogsearch ] [data-close],
[data-dailoglogin-close] [data-close]
{
  width: 20px;
  height: 20px;
}

[for="fullimg"],[data-imgnum-up],[data-imgnum-down]{
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 1px var(--boxBod) solid;
}

[for="fullimg"]:hover,
[data-imgnum-up]:hover,[data-imgnum-down]:hover,
input[type="checkbox"]:checked + [for="fullimg"]{
  cursor: var(--pointer,pointer);
  background: var(--boxGry);
}

[data-isfull="true"] [data-ismaxW="true"]{
  width: auto;
  height: 100%;
}
[data-isfull="true"] [data-ismaxW="false"]{
  width: 100%;
  height: auto;
}
[data-isfull="false"] [data-ismaxW="true"]{
  width: 100%;
}
[data-isfull="false"] [data-ismaxW="false"]{
  height: 100%;
}

[data-imgnum-input]{
  border-radius: 6px;
  width: fit-content;
  background: var(--boxGry);
  padding: 2px;
}

[data-imgnum],[data-imgnum-input]{
  font-size: 10px;
  gap:4px;
}

[data-imgnum-input] input{
  font-size: 10px;
  width: 6ch;
  text-align: center;
}

.bod-d{
  border: 1px var(--boxBod) dashed;
  border-radius: 10px;
}
[data-drop="upload"]{
  max-width: 560px;
  /*filter: drop-shadow(0 0 var(--drop-w,0) var(--mainColor));*/
}
[data-mode-id="upload"]{
  visibility: var(--drop-df,visible)/*collapse*/;
  gap: 10px;
  padding: 10px;
  font-size: 10px;
}

.file-tag{
  visibility: var(--drop-df,visible)/*collapse*/;
  border-radius: 0 0 10px 10px;
  background: var(--boxGry);
  padding: 2px 8px;
  font-size: 10px;
}
.upload-set{
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--boxBod);
  border-radius: 4px;
}
.nobod {
  --boxBod: transparent;
  --bod-focus: transparent;
}

[data-resize]::-webkit-resizer,
[data-resize] *::-webkit-resizer{
  display: none;
}

[data-tags-index]{
  opacity: 0.6;
}

[data-create-mix]{
  max-height: calc(100% - 405px);
  min-height: 20dvh;
}

[data-create-tags-box],[data-export-tags-box]{
  /*resize: both;*/
  min-width: 100%;
  max-width: 100%;
  min-height: 20dvh;
  /*max-height: 80dvh;*/
}

[data-create-tags],
[data-create-catalogues],
[data-export-tags="zy"],
[data-export-tags="rich"],
[data-export-tags-box="zy"] [data-export-tags="image"],
[data-export-tags-box="rich"] [data-export-tags="image"]{
  display: none;
}

[data-create-tags]{
  padding-bottom: 10px;
}

[data-create-catalogues],[data-export-tags]{
  padding-bottom: 80px;
  gap: 6px;
}

[data-create-tags-box="image"] [data-create-tags],
[data-create-tags-box="table"] [data-create-tags],
[data-create-tags-box="zy"] [data-create-catalogues],
[data-export-tags-box="zy"] [data-export-tags="zy"],
[data-export-tags-box="rich"] [data-export-tags="rich"]{
  display: flex;
}

[data-create-tags]{
  flex-wrap: wrap;
  gap: 8px;
}

[data-create-tag],
[data-split-tag],
[data-export-tag],
[data-zynode-tag]{
  height: 24px;
  padding: 0px 4px;
  background: var(--boxGry);
  border-radius: 6px;
  gap: 4px;
  font-size: 10px;
}

[data-export-tag],
[data-zynode-tag]{
  padding: 4px 6px;
  height: fit-content;
}

[data-layerlist]{
  background: var(--boxBak);
}

[data-export-info="name"],[data-zynode-info="name"]{
  font-size: 10px !important;
  background: var(--boxGry) !important;
  padding: 0 !important;
}

[data-export-tag] [data-select-input]{
  font-size: 11px !important;
  padding-left: 1ch;
  height: 22px;
}

[data-export-tag] [data-option="option"]{
  padding: 0.5ch;
  text-align: center;
}

[data-export-pickall="false"] [data-export-pick],
[data-export-pickall="true"] [data-sizeinfo]
{
  display: none;
}

[data-export-pick]{
  transform: translateY(50%);
}

[data-export-realsize="true"]{
  color: var(--themeColor);
}

[data-export-realsize="false"]{
  color: var(--liColor);
}

[data-split-tags]{
  height: fit-content;
  flex-wrap: wrap;
  gap: 8px;
}

[data-split-tag]{
  height: 16px;
}

[data-autobod-tag][data-check-checked="true"]{
  border: 1px var(--boxBod) solid;
}

[data-autobod-tag]{
  width: min(calc(32%),100%);
  height: 100px;
  min-width: 68px;
  background: var(--boxGry);
  border-radius: 6px;
  border: 1px transparent solid;
  padding: 8px 4px;
} 

[data-theme="light"] [data-autobod-tag]{
  background: var(--boxBak);
}

[data-autobod-name]{
  height: 4ch;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--mainColor);
}

[data-autobod-clipgrid] {
  --check: transparent;
}

[data-check-checked="true"] [data-autobod-clipgrid] {
  --check: var(--themeColor);
  animation: autoBodClip 4s linear infinite;
  stroke-dashoffset: 100%;
  stroke-dasharray: 100% 100%;
}

@keyframes autoBodClip {
  20% {
    stroke-dashoffset: 0%;
  }
  80% {
    stroke-dashoffset: 0%;
  }
  100% {
    stroke-dashoffset: -100%;
  }
}

[data-autobod-tag][data-check-checked="true"] svg circle {
  /*--bod: var(--themeColor2);*/
  animation: autoBodClip 4s linear infinite;
  stroke-dashoffset: 100%;
}

[data-autobod-tag][data-autobod-custom]{
  background: linear-gradient(to top,
    rgba(var(--bg-mask), 0.5) 0%,
    rgba(var(--bg-mask), 0.5) 25%,
    rgba(var(--bg-mask), 0.5) 75%,
    rgba(var(--bg-mask), 0.5) 100%),
    linear-gradient(296.5deg,
    rgba(0, 0, 0, 0) 16.7%,
    var(--boxGry) 16.7%, var(--boxGry) 33.3%,
    rgba(0, 0, 0, 0) 33.3%,
    rgba(0, 0, 0, 0) 50%,
    var(--boxGry) 50%, var(--boxGry) 66.7%,
    rgba(0, 0, 0, 0) 66.7%,
    rgba(0, 0, 0, 0) 83.3%,
    var(--boxGry) 83.3%) 0 0 / 100px 100px,
    var(--boxBak);
  animation: skewliner linear 5s infinite;
  border: var(--boxGry) 1px solid;
}

@keyframes skewliner {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 0;
  }
}

[data-tableset-thtd] label{
  cursor: var(--pointer,pointer);
}

[data-tablestyle-set],[data-exporttype-set]{
  gap: 4px;
}

[data-tablestyle-chk],[data-exporttype-chk]{
  width: 20px;
  height: 20px;
  padding: 0.5ch;
}

[data-tableset-more],[data-exportset-more]{
  position: relative;
}

[data-tableset-more]::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  flex: 0 0 auto;
  background: inherit;
  top: -4px;
  right: 6px;
  z-index: -1;
}

[data-tablestyle-name],[data-exporttype-name]{
  font-size: 10px;
  margin-right: 0.5ch;
}

[for="export-more"]{
  transform: rotate(180deg) rotateX(45deg);
  background: var(--boxGry);
  border-radius:  0 0 50px 50px;
  margin-bottom: -4px;
}

#export-more +.show-next::after{
  right: calc(50% - 4px);
}

[data-exportset-more]{
  background: var(--boxGry);
  margin-bottom: -2px;
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  padding: 4px 10px;
  max-width: 560px;
}

[data-editor-mix]{
  height: calc(100% - 50px);
}

[data-editor-viewbox]{
  margin: 4px 0;
  min-height: 280px;
  box-sizing: border-box;
  border: 1px var(--boxBod) solid;
  position: relative;
}

[data-editor-viewbox]::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg,transparent);
}

[data-editor-setbox]{
  min-height: 168px;
}

[data-editor-viewbox] img{
  margin: auto;
  pointer-events: none;
  z-index: 1;
}

[data-editor-side]{
  top: 10px;
  right: 10px;
  gap: 4px;
  z-index: 1;
}

[for="fulleditor"],[data-editor-clear],[data-editor-bg]{
  border: 1px var(--boxBod) solid;
  background: var(--boxBak);
}

[for="fulleditor"]:hover,[data-editor-clear]:hover,[data-editor-bg]:hover{
  opacity: 1;
}

input[type="checkbox"]:checked + [for="fulleditor"],
input[type="checkbox"]:checked + [data-editor-bg]{
  background: var(--themeColor);
  --mainColor: #242424;
}

[data-editor-side] [data-color]{
  gap: 4px;
}

[data-editor-side] [data-color]::after {
  content: attr(data-color-rgb);
  top: calc(-150% + 12px);
  right: 20px;
  border-radius:0.5ch 0 0.5ch 0.5ch;
}

[data-editor-side] [data-color]::before {
  content: attr(data-color-hsl);
  position: absolute;
  top: -150%;
  right: 20px;
  display: var(--hsl-df);
  background: var(--mainColor);
  color: var(--boxBak);
  font-size: 11px;
  padding: 2px 4px;
  border-radius:0.5ch 0.5ch 0 0.5ch;
}

[data-color-mix] [data-input="hex"],
[data-color-mix] [data-input="hsl"],
[data-color-mix] [data-input="rgb"],
[data-color-mix] card-colorpick,
[data-color-mix] [data-input="colortype"]{
  display: none;
}

[data-color-mix] [data-input="colortype"]{
  background: var(--boxGry);
}

[data-color-mix] [data-color-view],
[data-color-mix]:hover [data-input="hex"],
[data-color-mix]:hover [data-input="hsl"],
[data-color-mix]:hover [data-input="rgb"],
[data-color-mix]:hover [data-color] card-colorpick,
[data-color-mix]:hover [data-input="colortype"]{
  display: flex;
}

[data-color-mix] [data-input="hex"]{
  width: 8.5ch;
}

[data-color-mix] [data-input="hsl"]{
  width: 16.5ch;
}

[data-color-mix] [data-input="rgb"]{
  width: 15.5ch;
}

[data-editor-setlist-title],[data-editor-setlist]{
  min-width: 98px;
  padding-right: 6px;
  border-right: 1px var(--boxBod) dashed;
}

[data-editor-addset]{
  width: 14px;
  height: 14px;
}
[data-editor-upset],
[data-editor-inputset],
[data-editor-downset]{
  padding: 2px 0;
  width: 16px;
  height: 16px;
}
[data-editor-setcode]{
  display: none;
  padding: 4px 0 0 6px;
}

[data-editor-setcode] textarea{
  resize: none;
}

input[type="checkbox"]:checked + [for="editor-inputset"]{
  --mainColor: var(--themeColor);
}

[data-editor-addlist]{
  z-index: 20;
  display: none;
  width: 100px;
  max-height: 50dvh;
  bottom: -140px;
  left: calc(100% - 4px);
}

[data-variable-type]{
  gap: 4px;
  height: 40px;
  flex: 0 0 auto;
  margin-bottom: 4px;
}

[data-variable-relayout]{
  cursor: var(--pointer,pointer);
}

[data-variable-chk]{
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

[data-radio-main="true"] [data-variable-chk-name]{
  display: flex;
}

[data-variable-type] [data-radio]{
  padding: 0.5ch 0.8ch 0.5ch 0.5ch;
}

[data-variable-styleinfo-box],[data-variable-varinfo-box]{
  gap: 4px;
  padding: 4px;
  box-sizing: border-box;
  margin: 0 0 6px 0;
}

[data-variable-varinfo-box]{
  min-height: 40px;
}

[data-variable-styleinfo],
[data-variable-varinfo]{
  padding-left: 10px;
  gap: 6px;
}

[data-variable-styleinfo]::before,
[data-variable-varinfo]::before{
  content: '';
  position: absolute;
  left: 2px;
  top: 1ch;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--boxBod);
}

[data-variable-styleinfo] [data-btn],
[data-variable-varinfo] [data-btn]{
  padding:0 1ch;
}

[data-variable-hasstylesheet="false"] [data-variable-has],
[data-variable-hasstyle="false"] [data-variable-has],
[data-variable-hasvarsheet="false"] [data-variable-has],
[data-variable-hasvar="false"] [data-variable-has],
[data-variable-hasstylesheet="true"] [data-variable-hasnot],
[data-variable-hasstyle="true"] [data-variable-hasnot],
[data-variable-hasvar="true"] [data-variable-hasnot],
[data-variable-hasvarsheet="true"] [data-variable-hasnot]
{
 display: none;
}

[data-any="unclick"],
[data-variable-hasstyle="false"] + [data-variable-styleinfo],
[data-variable-hasvar="false"] + [data-variable-varinfo]{
  pointer-events: none;
  opacity: 0.6;
}

[data-variable-has],[data-variable-hasnot]{
  gap: 4px;
}

[data-variable-has-icon]{
  pointer-events: none;
  width: 26px;
  height: 18px;
  border: 1px solid var(--boxBod);
  box-sizing: border-box;
  border-radius: 20px;
  background: var(--boxGry);
}

[data-variable-refresh]{
  padding: 1px;
  top: 2px;
  right: 2px;
}

[data-variable-refresh] [data-btn]{
  width: 14px;
  height: 14px;
  padding: 1px;
  border-radius: 4px;
}

[data-variable-manage]{
  border: 1px solid var(--boxBod);
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 70px;
  max-height: 80dvh;
  margin: -4px 0 10px 0;
}

[data-manage-linkstyle],[data-manage-selectstyle],[data-manage-variables]{
  padding: 4px;
  box-sizing: border-box;
  background: var(--boxGry);
}

[data-manage-linkstyle] [data-btn="icon"],
[data-manage-selectstyle] [data-btn="icon"],
[data-manage-variables] [data-btn="icon"]{
  padding: 2px 0;
  height: 16px;
}

[data-manage-linkstyle] [data-btn="icon"] [data-en-text],
[data-manage-selectstyle] [data-btn="icon"] [data-en-text],
[data-manage-variables] [data-btn="icon"] [data-en-text]{
  margin: -0.25ch 0 0 0.25ch;
}

[data-manage-linkstyle-list],
[data-manage-selectstyle-list],
[data-manage-variables-list]{
  padding: 6px;
  box-sizing: border-box;
  gap: 6px;
  max-height: 60dvh;
}

[data-linkstyle-tag]{
  background: var(--boxGry);
  gap: 4px;
  padding: 6px 10px 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: end;
}

[data-linkstyle-haschange="true"] [data-linkstyle-colorname] {
  color: var(--themeColor);
}

[data-linkstyle-colorname]{
  padding-left: 14px;
  font-size: 14px;
  font-weight: 700;
  white-space: normal;
}

[data-linkstyle-colorname]::before{
  content: '🎨 ';
  position: absolute;
  top: 2px;
  left: -4px;
  font-size: 10px;
}

[data-linkstyle-haschange="true"] [data-linkstyle-colorname]::before{
  content: '✏️ ';
}

[data-linkstyle-pathbox]{
  background: var(--boxBak);
  border-radius: 4px;
  border: 4px solid var(--boxBak);
  margin: -4px 0 0 -4px;
}

[data-theme="light"] [data-linkstyle-pathbox]{
  border: 4px solid var(--mainColor);
}

[data-theme="light"] [data-linkstyle-pathbox],
[data-theme="light"] [data-linkstyle-path]::before,
[data-theme="light"] [data-linkstyle-pathbox] input{
  color: var(--boxGry);
  background: var(--mainColor);
}

[data-linkstyle-pathbox] > div{
  width: fit-content;
}

[data-linkstyle-path]{
  min-width: fit-content;
  opacity: 0.6;
  animation: boxUp 0.5s;
}

[data-linkstyle-path] input{
  font-size: 10px;
  pointer-events: none;
}
[data-linkstyle-path] div{
  font-size: 10px;
  padding: 0 40px 0 4px;
}

[data-linkstyle-path]::before{
  content: '🔍';
  font-size: 12px;
  color: var(--mainColor);
  margin: 0 -2px;
}

[data-linkstyle-path="false"]::before,
[data-theme="light"] [data-linkstyle-path="false"]::before{
  content: '⚠ ';
  color: var(--liColor);
  margin: 0;
}

[data-linkstyle-path="maybe"]{
  opacity: 1;
}

[data-linkstyle-path="maybe"]::before{
  content: '⇨ ';
  margin: 0;
}

[data-linkstyle-path="maybe"] input{
  pointer-events: auto;
}

[data-linkstyle-btnbox]{
  width: 24ch;
}

[data-linkstyle-btn]{
  width: 7ch;
  height: 2.5ch;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25ch;
  padding: 0 0.5ch;
  box-sizing: border-box;
  color: #2e2e2e;
}

[data-linkstyle-btn="relink"],[data-linkstyle-btn="relink"]:hover{
  background: var(--linstyle-1);
}
[data-linkstyle-btn="create"],[data-linkstyle-btn="create"]:hover{
  background: var(--linstyle-2);
}
[data-linkstyle-btn="reset"],[data-linkstyle-btn="reset"]:hover{
  background: var(--linstyle-3);
}

[data-linkstyle-islink="false"] [data-linkstyle-btn="relink"],
[data-linkstyle-iscreate="false"] [data-linkstyle-btn="create"],
[data-linkstyle-isreset="false"] [data-linkstyle-btn="reset"]{
  pointer-events: none;
  opacity: 0.4;
}

[data-text-mini]{
  font-size: 8px;
  transform: skewX(-8deg);
  opacity: 0.6;
  white-space: normal;
}

[data-language="En"] [data-retable-moreset]{
  justify-content: center;
  align-items: center;
}

[data-language="En"] [data-retable-moreset] [data-text-mini]{
  text-align: center;
  max-width: 260px;
}

[data-selectcomp-mix]{
  font-size: 10px;
}

[data-selectcomp-box="false"] [data-selectcomp-mix]{
  display: none;
}

[data-selectcomp-box="true"] [data-selectcomp-no]{
  display: none;
}

[data-selectcomp-1],[data-selectcomp-2]{
  color: var(--themeColor2)
}

input[type="checkbox"]:checked ~ [data-selectcomp-box],
input[type="checkbox"]:checked ~ [data-tablestyle-box]{
  width: 100vw;
}

[data-skilltype-box]{
  max-width: 560px;
  height: 40px;
  gap: 2px;
  margin: 0 auto;
}

[data-skilltype-box] [data-radio]{
  padding: 0.5ch;
  border: 1px var(--boxBod) solid;
  min-width: 35px;
}

[data-skilltype-name]{
  font-size: 10px;
  padding-right: 0.5ch;
  display: none;
}

[data-radio-main="true"] [data-skilltype-name]{
  display: flex;
}

[data-skills-scroll]{
  max-width: 560px;
  padding-bottom: 80px;
}

[data-skills-box]{
  gap: 10px;
}

[data-skillmodule]{
  border-radius: 4px;
  padding: 6px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 6px;
  position: relative;
}

[data-skilltype-icon="mini"]{
  --wh: 20px;
  width: var(--wh);
  height: var(--wh);
  position: absolute;
  /**
  top: calc(var(--wh)*-1 + 6px);
  left: calc(50% - var(--wh)/2);
  /**/
  top: calc(var(--wh)*-0.5 + 14px);
  --mainColor: var(--boxBod);
}

[data-skillmodule]::before{
  content: attr(data-skillmodule);
  color: var(--boxBod);
  display: flex;
  /**
  justify-content: center;
  /**/
  font-size: 10px;
  width: 100%;  
  height: 16px;
  padding-left: 22px;
}

[data-language="En"] [data-skillmodule]::before{
  align-items: center;
}

[data-language="Zh"] [data-skillmodule]::before{
  content: attr(data-skillmodule-zh);
}

[data-skillmodule="Useful & Starts"] [data-skill-index]{
  display: none;
}

[data-skillmodule="Useful & Starts"] [data-skill-title]::before{
  content: '👌';
  opacity: 0.6;
}

[data-skill-sec]{
  position: relative;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid transparent;
  border-top-width: 3px;
  background: rgba(230, 230, 230, 1);
  padding: 8px;
  white-space: normal;
}

[data-skill-sec]:hover,
[data-skill-sec]:hover[data-tableset-more]::after
{
  border: 1px solid var(--skill-col,var(--boxBod));
  border-top-width: 3px;
  /**
  filter: 
  drop-shadow(0 1px 0 var(--skill-col,var(--boxBod)))
  drop-shadow(1px 0 0 var(--skill-col,var(--boxBod)))
  drop-shadow(0 -3px 0 var(--skill-col,var(--boxBod)))
  drop-shadow(-1px 0 0 var(--skill-col,var(--boxBod)));
  /**/
}

[data-theme="dark"] [data-skilltype-box] [data-radio-main="true"]{
  background: transparent;
  --mainColor: var(--code1);
  border-color: var(--code1);
}

[data-theme="light"] [data-skilltype-box] [data-radio-main="true"] {
  background: #18e7a6;
  border-color: #656565;
}

[data-theme="dark"] [data-skill-sec]{
  background: rgba(40, 40, 40, 1);
}

[data-skill-cover="end"]{
  opacity: 0.5;
  position: relative;
  overflow: hidden;
  font-size: 10px;
}

[data-skillnum-odd="1"] [data-skill-cover="end"]{
  display: none;
}

[data-skill-cover="end"]::after{
  content: '';
  position: absolute;
  width: 110%;
  height: 110%;
  top: -10%;
  left: -10%;
  background: url('https://cdn.jsdelivr.net.cn/gh/YNYU01/YNYU_SET@499353f70d93db793ee5a4102aba38f934c27292/VI/logo_graph_bod.png');
  background-size: 380px;
  animation: bgMove 50s linear infinite;
}

@keyframes bgMove {
  to{
    background-position: 380px 0;
  }
}

[data-skillmodule="Useful & Starts"] [data-skill-cover="end"]{
  opacity: 0.8;
}

[data-skillmodule="Useful & Starts"] [data-skill-cover="tips"]{
  margin-top: -6px;
}


[data-skill-title]{
  font-size: 11px;
  --icon-info: var(--boxBod);
  height: 14px;
  gap: 4px;
  margin-bottom: 1ch;
  align-items: baseline;
}

[data-skill-title] [data-tips]{
  transform: translateY(0.35ch);
}

[data-skill-sec-name]{
  opacity: 0.6;
  text-transform: capitalize;
}

[data-skill-btnname],[data-skill-btnname-top]{
  font-size: 10px;
}

[data-skill-btnname]::after{
  content: ' ▶';
  opacity: 0.6;
}

[data-skill-btnname-top]::after{
  content: ' ▼';
  opacity: 0.6;
}

[data-skill-line]{
  padding:0 4px;
  margin-bottom: 6px;
  gap: 4px;
}

[data-skill-line="false"]{
  display: none;
}

[data-skill-more]{
  gap: 4px;
}

[for="skewscale-view-pick"]{
  min-height: 30px;
  font-size: 10px;
}

input[type="checkbox"]:checked + [for="skewscale-view-pick"]{
  border: 1px var(--themeColor) solid;
}

[for="skewscale-view-pick"] span{
  opacity: 0.6;
  text-align: center;
}

input[type="checkbox"]:checked + [for="skewscale-view-pick"] .tip1,
[for="skewscale-view-pick"] .tip2,
[data-skewscale-copy]{
  display: none;
}

input[type="checkbox"]:checked + [for="skewscale-view-pick"] .tip2{
  display: block;
  color: var(--themeColor);
}

[data-theme="light"] [for="skewscale-view-pick"]{
  background: var(--themeColor);
  border: 1px rgba(0, 0, 0, 0.8) solid !important;
}

[data-theme="light"] input[type="checkbox"]:checked +  [for="skewscale-view-pick"] .tip2{
  color: var(--mainColor);
  opacity: 1;
}

input[type="checkbox"]:checked + * + [data-skewscale-copy]{
  display: flex;
}

input[type="checkbox"]:checked + * + * + [data-skewscale-view-box] [data-skewscale-box]{
  display: none;
}

[data-skewscale-box]{
  height: 60px;
}
[data-skewscale-box]::after{
  content: '+';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  z-index: 0;
}

[data-skewscale-view]{
  /**
  --select-h: 100;
  --select-w: 3000;
  --h: auto;/*谁小谁auto*/
  /**/
  --wh: calc(var(--select-w)/var(--select-h));
  aspect-ratio: var(--wh,1);
  width: var(--w,100%);
  height: var(--h,100%);
  max-height: calc(100% - 10px);
  max-width: calc(100% - 40px);
  border: 1px var(--themeColor) solid;
  box-sizing: border-box;
  transform: 
  skew(
    calc(var(--skewX,0) * 1deg),
    calc(var(--skewY,0) * 1deg))
  scale(
    calc(var(--scaleX,100) * 1%),
    calc(var(--scaleY,100) * 1%));
}

[data-selects-node]{
  width: 100%;
  max-width: 560px;
  height: 38px;
  font-size: 10px;
  white-space: normal;
  text-align: center;
  opacity: 0.6;
  margin: 4px 0;
  background: rgba(0, 0, 0, 0.8);
  --mainColor: #b9b9b9;
  color: var(--mainColor);
  border-radius: 10px;
  transform: translateY(6px);
}

[data-selects="true"] [data-selects-node]{
  opacity: 1;
}

[data-selects="true"] [data-selects-node]::after{
  content: '';
}

[data-selects="false"] [data-selects-node]::after{
  content: var(--tips-text,'未选中任何图层');
  margin: 0 auto;
}
[data-language="En"] [data-selects-node]::after{
  --tips-text: var(--tips-text-en,'No layer selected');
}

[data-selects="false"] [data-selects-info-box]{
  display: none;
 }
 
[data-selects-info="more"]{
   display: none;
 }

[data-selects="true"] [data-selects-info-box],
[data-selects-more="true"] [data-selects-info="more"]{
  display: inline-flex;
}

[data-selects-info-box] span{
  white-space: nowrap;
}

[data-selects-info="main"],[data-selects-info="num"]{
  color: var(--themeColor2);
}

[data-selects-more="false"] [data-selects-info="main"]{
  color: var(--mainColor);
}

[data-selects="false"] [data-skill-line],
[data-selects="false"] [data-selects-must]{
  pointer-events: none;
  opacity: 0.6;
}

[data-selects="false"] [data-selects-must="false"],
[data-selects="false"] [data-skill-line][data-selects-must="false"]{
  pointer-events: auto;
  opacity: 1;
}

[data-skill-gap]{
  font-size: 10px;
  opacity: 0.6;
  text-align: center;
}

[data-clip-view]{
  width: 100%;
  height: 200px;
  position: relative;
  margin: 4px 0;
}

[data-clip-select]{
  /**
  --select-h: 1200;
  --select-w: 100;
  --w: auto;/*谁小谁auto*/
  /**/
  --wh: calc(var(--select-w)/var(--select-h));
  aspect-ratio: var(--wh,1);
  width: var(--w,100%);
  height: var(--h,100%);
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
  border-radius: 0;
}

[data-clip-set-box="w"]{
  width: 100%;
  height: calc(100% + 30px);
  top: -15px;
  left: 0;
}

[data-clip-set-box="h"]{
  width: calc(100% + 30px);
  height: 100%;
  top: 0;
  left: -15px;
}

[data-clip-w="0"]{
  --dis-w1: none;
  --dis-w2: none;
}
[data-clip-w="2"]{
  --xx: 33.3%;
  --dis-w1: block;
  --dis-w2: none;
}
[data-clip-w="4"]{
  --xx: 20%;
  --dis-w1: block;
  --dis-w2: block;
}
[data-clip-h="0"]{
  --dis-h1: none;
  --dis-h2: none;
}
[data-clip-h="2"]{
  --yy: 33.3%;
  --dis-h1: block;
  --dis-h2: none;
}
[data-clip-h="4"]{
  --yy: 20%;
  --dis-h1: block;
  --dis-h2: block;
}

[data-clip-set="x1"],[data-clip-set="x2"]{
  display: var(--dis-w1);
}
[data-clip-set="x3"],[data-clip-set="x4"]{
  display: var(--dis-w2);
}
[data-clip-set="y1"],[data-clip-set="y2"]{
  display: var(--dis-h1);
}
[data-clip-set="y3"],[data-clip-set="y4"]{
  display: var(--dis-h2);
}


[data-clip-set-box="w"] [data-clip-set]{
  width: var(--x,var(--xx));
  border-width:0 1px 0 0;
  resize: horizontal;
  max-width: calc(100% - 10px);
  min-width: 1px;
}

[data-clip-set-box="w"] [data-clip-set]::after{
  right: -4px;
  bottom: 0;
}

[data-clip-set-box="w"] [data-clip-set]::before{
  right: 6px;
  bottom: 0;
}

[data-clip-set-box="h"] [data-clip-set]{
  height: var(--y,var(--yy));
  border-width:0  0 1px 0;
  resize: vertical;
  max-height: calc(100% - 10px);
  min-height: 1px;
}

[data-clip-set-box="h"] [data-clip-set]::after{
  right: 0;
  bottom: -4px;
}

[data-clip-set-box="h"] [data-clip-set]::before{
  right: 0;
  bottom: 6px;
}

[data-clip-set]{
  border-style: solid;
  border-color: var(--boxBod);
}

[data-clip-set]::after{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--themeColor);
  border-radius: 4px;
}

[data-clip-set]::-webkit-resizer{
  display: none;
}

[data-clip-set]::before{
  content: attr(data-clip-set);
  position: absolute;
  width: 8px;
  height: 8px;
  font-size: 8px;
}

/*模块类--*/

/*--纹理类*/
.tex-dot{
  --dot-wh: 1px;
  --dot-gap: 10px;
  background: 
  repeating-radial-gradient(
    circle at center,
    var(--dot-col) 0,
    var(--dot-col) var(--dot-wh),
    transparent var(--dot-wh),
    transparent calc(var(--dot-gap)*2)), var(--boxBak);
  background-size: var(--dot-gap) var(--dot-gap);
}

.tex-line{
  --line-col: rgba(0, 0, 0, 0.8);
  --line-size: 50px;
  --line-bod: 4%;
  --line-deg: -45deg;
  --line-bak: transparent;
  background: 
  repeating-linear-gradient(var(--line-deg),
    var(--line-col) -20%,
    var(--line-col) calc(-20% + var(--line-bod)),
    transparent calc(-20% + var(--line-bod)),
    transparent 30%,
    var(--line-col) 30%,
    var(--line-col) calc(30% + var(--line-bod)),
    transparent calc(30% + var(--line-bod)),
    transparent 80%,
    var(--line-col) 80%,
    var(--line-col) calc(80% + var(--line-bod)),
    transparent calc(80% + var(--line-bod)),
    transparent 100%
    ) 0 0/var(--line-size) var(--line-size),var(--line-bak);
    --pos-x: var(--line-size);
    --pos-y: 0;
    animation: posMove 2s infinite;
    animation-delay: 1s;
}

* .tex-line  {
  --pos-x: var(--line-size);
  --pos-y: 0;
  animation: posMove 2s infinite;
  animation-delay: 1s;
}

@keyframes posMove {
  to {
    background-position: var(--pos-x) var(--pos-y);
  }
}

.tex-pixelbg {
  --pixel-w: #f7f7f7;
  --pixel-b: #dddddd;
  --pixel-wh: 20px;
  background: conic-gradient(
  var(--pixel-b) 25%,
  var(--pixel-w) 0deg 50%,
  var(--pixel-b) 0deg 75%,
  var(--pixel-w) 0deg) 0/var(--pixel-wh) var(--pixel-wh);
}

[data-theme="dark"] .tex-pixelbg {
  --pixel-w: #333333;
  --pixel-b: #222222;
}

/*纹理类--*/

@media (max-width:469px) {
  [data-any="vw470"]{
    display: none;
  }
  [data-clip-view] {
    height: 250px;
  }
}

@media (min-width:500px) {
  [data-transform-center-module]{
    max-width: 72px;
  }
  
}

@media (max-width:419px) {
  [data-linkstyle-btnbox]{
    width: 8ch;
    flex-wrap: wrap;
  }
}

@media (min-width:420px) {
  [data-mainset-bottom]{
    display: flex;
  }

  [data-mainset-side]{
    display: none;
  }

  [data-skilltype-name]{
    display: flex;
  }

  [data-linkstyle-pathbox] > div{
    width: calc(100% - 4px);
    display: flex;
  }

  [data-linkstyle-path] > div{
    padding-right: 4px;
  }

  [data-linkstyle-path="maybe"] {
    flex: 1;
  }

}

@media (max-width:359px) {
  #upload-textarea-box{
    width: 100%;
    flex: 0 0 auto;
  }
  [data-language="Zh"] [data-skillType-name]{
    max-width: 5ch;
  }
  .file-tag{
    max-width: 200px;
  }
  [data-any="vw360"]{
    display: none;
  }
  
}

@media (min-width:360px) {
  #upload-set-box{
    width: 40px;
  }
  #upload-set-main{
    width: 40px;
    height: calc(100% - 40px);
    flex-flow: column;
  }
  #upload-set-main [data-tips-x="left"]::after,
  #upload-set-main [data-tips-x="center"]::after {
    --x: calc(-100% + 40px);
  }

  [data-radio]{
    padding: 0.5ch;
  }

  [data-create-mix]{
    max-height: calc(100% - 356px);
  }

  [data-editor-setlist-title],[data-editor-setlist]{
    min-width: 148px;
  }

  [data-skill-sec] {
    padding: 14px;
  }
}
@media (max-width:299px) {
  [data-any="vw300"]{
    display: none;
  }
  [data-tips]::after, btn-info{
    display: none;
  }
  
}

@media (max-width:300px) {
  [data-transform-center-module]{
    max-width: 72px;
  }
  [data-clip-view] {
    height: 160px;
  }
}

@media (min-width:300px) {
  [data-radio-main="true"] [data-tablestyle-name],
  [data-radio-main="true"] [data-exporttype-name],
  [data-exporttype-set] [data-radio]:hover [data-exporttype-name]{
    display: block;
  }
}

@media (max-width:239px) {
  [data-any="vw240"]{
    display: none;
  }

  [data-radio-main="false"] [data-variable-chk]{
    margin-right: 0;
  }

  [data-mainset-top]{
    display: flex;
  }

  [data-skill-sec]{
    min-width: 160px;
  }

  [data-skill-more]{
    flex-wrap: wrap;
  }

  [data-editor-setlist-title],[data-editor-setlist]{
    min-width: 68px;
  }

}
