@font-face {
  font-family: Shanggu Sans;
  src: url("https://cdn.jsdelivr.net.cn/gh/YNYU01/YNYU_SET@ba19c5d927f0c9cc1bb1647b224fb58667102074/fonts/other/ShangguSans-Regular.otf") format('opentype');
  font-weight: 400;
  font-display: swap;;
}

:root{
  --top-h: 24px;
  --bottom-h: 32px;
}

/*--组件修改*/
.show-next{
  margin:0 2px 0 -2px;
  cursor: pointer;
}

.show-next::after {
  transform-origin: 40% 40%;
}

[data-tips-x="right"]::after {
  --x: calc(-100% + 40px);
}

[data-tips-x="center"]::after {
  --x:calc(-50% + 20px)
}

#tips-all{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 80px;
  margin: auto;
  animation: boxUp 0.2s;
  z-index: 20;
  pointer-events: none;
}

.tips-all-text{
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px 8px;
  border-radius: 8px;
}

.switch [data-swi-icon]{
  transition:transform 0.2s ease-out;
  }
  
input[type="checkbox"]:checked+.switch [data-swi-icon]{
  transform: translateX(var(--swi-h,18px));
}
/*组件修改--*/

html[data-language="En"] {
  --mainFontSize: 10px;
}

html[data-language="Zh"] {
  --mainFontSize: 12px;
}

body{
  font-size: var(--mainFontSize);
}

#top{
  height: var(--top-h);
  position: relative;
}

#top::after{
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: var(--boxBod);
  opacity: 0.5;
}

#bottom{
  height: var(--bottom-h);
  bottom: 0;
}

#bottom::before{
  content: '';
  position: absolute;
  top: -1px;
  width: 100%;
  height: 1px;
  background: var(--boxBod);
  opacity: 0.5;
}

[data-tab-for="page"]{
  gap: 4px;
  padding-left: 2%;
}

.tab-top{
  padding: 2px 4px;
  border-radius: 4px;
  text-transform: capitalize;
  opacity: 0.5;
}

input[type="checkbox"]:checked + .tab-top{
  opacity: 1;
  background: var(--swi-bak);
}

[data-page-id="page"]{
 height: calc(100vh - var(--bottom-h) - var(--top-h));
}

[data-tv-box]{
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  font-size: 10px;
}

.btn-big{
  width: 12px;
  height: 12px;
  margin-left: 2px;
  cursor: pointer;
}

input[type="checkbox"]:checked+.btn-big .path1 {
  transform: translateY(6px) translateX(-6px);
}

input[type="checkbox"]:checked+.btn-big .path2 {
  transform: translateX(6px) translateY(-6px);
}

[data-side]{
  left: 0;
  z-index: 11;
  /*animation: topTabUp 0.5s;*/
}

[data-side-mix]{
  width: 200px;
  background: var(--boxGry);
  padding: 10px 10px;
  justify-content: space-between;
  display: none;
  overflow: hidden;
}


@keyframes sideUp {
  0%{
    width: 0;
  }
  100%{
    width: 200px;
  }
}

@keyframes sideOver {
  0%{
    width: 200px;
    padding-left: 10px;
  }
  100%{
    width: 0;
    padding-left: 0px;
  }
}

@keyframes topTabUp {
  0%{
    transform: translateY(calc(var(--top-h) * -1));
  }
  100%{
    transform: translateY(0%);
  }
}

[data-icon-more]{
  transition: transform 0.4s;
}

input[type="checkbox"]:checked + label [data-icon-more]{
  transform: rotate(90deg);
}

[data-icon-more-path]{
  stroke: var(--mainColor);
  stroke-width: 2;
  transition: transform 0.2s;
}

[data-icon-more-path="1"]{
  transform: matrix(1,0,0,1,1,4);
}
[data-icon-more-path="2"]{
  transform: matrix(1,0,0,1,1,10);
}
[data-icon-more-path="3"]{
  transform: matrix(1,0,0,1,1,16);
}

input[type="checkbox"]:checked + label [data-icon-more-path="1"]{
  transform: matrix(0.7,0.7,-0.7,0.7,3.64,3.64);
}
input[type="checkbox"]:checked + label [data-icon-more-path="2"]{
  transform: matrix(0.1,0,0,1,10,10);
}
input[type="checkbox"]:checked + label [data-icon-more-path="3"]{
  transform: matrix(0.7,-0.7,0.7,0.7,3.64,16.37);
}

#btn-theme,#btn-theme-2{
  width: 20px;
  height: 20px;
  padding: 4px;
  box-sizing: border-box;
  background: var(--swi-bak);
  border-radius: 4px;
  border: 1px solid var(--boxBod);
}

[data-mainset-top]{
  display: none;
}

.btn-more{
  width: 16px;
  height: 16px;
  opacity: 0.6;
  cursor: pointer;
}

[data-mainset-side]{
  gap:4px;
  padding: 10px 0;
  border-top: 1px solid var(--boxBod);
}

[data-language="Zh"] [data-any="en"]{
  display: none;
}

[data-language="En"] [data-any="zh"]{
  display: none;
}

[data-resize]{
  content: '';
  position: absolute;
  cursor:nw-resize;
  bottom: 2px;
  right: 2px;
  width: 8px;
  height: 8px;
  background: linear-gradient(to top left,
  transparent 20%,
  var(--boxBod) 21%,
  var(--boxBod) 25%,
  transparent 26%,
  transparent 45%,
  var(--boxBod) 46%,
  var(--boxBod) 50%,
  transparent 51%);
}

[data-tv-box]{
  padding: 0 4px;
}

[data-tv-cut]{
  height: 18px;
  border-radius: 10px;
  background:  rgba(0, 0, 0, 0.8);
  --mainColor: #b9b9b9;
  color: var(--mainColor);
  margin-top: 2px;
}

[data-theme="dark"] [data-tv-cut]{
  --mainColor: #9b9b9b;
}


/*--按钮类*/
[data-btn]{
  padding: 2px 0;
  border: 1px solid var(--boxBod);
  box-sizing: border-box;
  cursor: pointer;
}

[data-btn]:hover{
  background: var(--boxGry);
}

[data-btn]:active{
  transform: translateY(1px);
}

[data-btn="main"]{
  width: calc(100% - 20px);
  border-radius: 20px;
}

[data-btn="skill"]{
  border-radius: 8px;
}

[data-btn="help"]{
  margin: 6px 0;
  padding: 0;
  --boxBod: var(--themeColor);
  background: var(--themeColor);
  border-radius: 20px;
  color: #000;
}

[data-btn="help"]:hover{
  background: var(--code1);
}

[data-btn="icon"]{
  display: block;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}

[data-btn="icon"]:hover{
  background: none;
  opacity: 0.5;
}

/*按钮类--*/

/*--纹理类*/
.tex-dot{
  --dot-wh: 1px;
  --dot-gap: 10px;
  background: 
  repeating-radial-gradient(
    circle at center,
    var(--dot-col) 0,
    var(--dot-col) var(--dot-wh),
    transparent var(--dot-wh),
    transparent calc(var(--dot-gap)*2)), var(--boxBak);
  background-size: var(--dot-gap) var(--dot-gap);
}
/*纹理类--*/

@media (max-width:240px) {
  [data-any="vw240"]{
    display: none;
  }

  [data-mainset-top]{
    display: flex;
  }

  [data-tips]::after{
    display: none;
  }
}
